In [5]:
import pandas as pd
df=pd.read_csv(r"C:\Users\varun\Downloads\H-1B_Disclosure_RAW_Data_FY18.csv\H-1B_Disclosure_RAW_Data_FY18.csv",encoding="Windows-1252")
pd.set_option('mode.chained_assignment', None)

C:\Users\varun\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,I-200-18026-338377,CERTIFIED,1/29/2018,02-02-2018,H-1B,7/28/2018,7/27/2021,MICROSOFT CORPORATION,NaN,1 MICROSOFT WAY,...,N,N,NaN,NaN,NaN,REDMOND,KING,WA,98052,NaN
1,I-200-17296-353451,CERTIFIED,10/23/2017,10/27/2017,H-1B,11-06-2017,11-06-2020,ERNST & YOUNG U.S. LLP,NaN,200 PLAZA DRIVE,...,N,N,NaN,NaN,NaN,SANTA CLARA,SAN JOSE,CA,95110,NaN
2,I-200-18242-524477,CERTIFIED,8/30/2018,09-06-2018,H-1B,09-10-2018,09-09-2021,LOGIXHUB LLC,NaN,320 DECKER DRIVE,...,N,N,NaN,NaN,NaN,IRVING,DALLAS,TX,75062,NaN
3,I-200-18070-575236,CERTIFIED,NaN,3/30/2018,H-1B,09-10-2018,09-09-2021,"HEXAWARE TECHNOLOGIES, INC.",NaN,101 WOOD AVENUE SOUTH,...,Y,N,Y,NaN,NaN,NEW CASTLE,NEW CASTLE,DE,19720,NaN
4,I-200-18243-850522,CERTIFIED,8/31/2018,09-07-2018,H-1B,09-07-2018,09-06-2021,"ECLOUD LABS,INC.",NaN,120 S WOOD AVENUE,...,Y,N,Y,Y,NaN,BIRMINGHAM,SHELBY,AL,35244,NaN

In [7]:
import numpy as np

In [8]:
df.loc[df.CASE_STATUS == 'DENIED','Target'] = 1
df['Target']=df['Target'].fillna(0)

In [9]:
# Find the missing values:
def num_missing(x):
  return sum(x.isnull())

#Applying per column:
print("Missing values per column:")
print(df.apply(num_missing, axis=0)) #axis=0 defines that function is to be applied on each column

Missing values per column:
CASE_NUMBER                         0
CASE_STATUS                         0
CASE_SUBMITTED                      1
DECISION_DATE                       0
VISA_CLASS                          0
EMPLOYMENT_START_DATE               7
EMPLOYMENT_END_DATE                11
EMPLOYER_NAME                      19
EMPLOYER_BUSINESS_DBA          600870
EMPLOYER_ADDRESS                   11
EMPLOYER_CITY                      11
EMPLOYER_STATE                     73
EMPLOYER_POSTAL_CODE               18
EMPLOYER_COUNTRY                    7
EMPLOYER_PROVINCE              647655
EMPLOYER_PHONE                      7
EMPLOYER_PHONE_EXT             620308
AGENT_REPRESENTING_EMPLOYER        18
AGENT_ATTORNEY_NAME                 0
AGENT_ATTORNEY_CITY            195242
AGENT_ATTORNEY_STATE           220906
JOB_TITLE                           5
SOC_CODE                           11
SOC_NAME                           11
NAICS_CODE                          6
TOTAL_WORKERS                       0
NEW_EMPLOYMENT                      0
CONTINUED_EMPLOYMENT                0
CHANGE_PREVIOUS_EMPLOYMENT          0
NEW_CONCURRENT_EMP                  0
CHANGE_EMPLOYER                     0
AMENDED_PETITION                    0
FULL_TIME_POSITION                  6
PREVAILING_WAGE                     3
PW_UNIT_OF_PAY                     57
PW_WAGE_LEVEL                   38218
PW_SOURCE                          55
PW_SOURCE_YEAR                     67
PW_SOURCE_OTHER                  6658
WAGE_RATE_OF_PAY_FROM               0
WAGE_RATE_OF_PAY_TO                 3
WAGE_UNIT_OF_PAY                   13
H1B_DEPENDENT                   14156
WILLFUL_VIOLATOR                14161
SUPPORT_H1B                    420826
LABOR_CON_AGREE                418431
PUBLIC_DISCLOSURE_LOCATION     654360
WORKSITE_CITY                      22
WORKSITE_COUNTY                   932
WORKSITE_STATE                     15
WORKSITE_POSTAL_CODE               30
ORIGINAL_CERT_DATE             609386
Target                              0
dtype: int64

In [12]:
# Printing unique values in each categorical columns
unique_df=pd.DataFrame(df.astype('object').describe(include='all').loc['unique', :])
unique_df

                             unique
CASE_NUMBER                  654360
CASE_STATUS                       4
CASE_SUBMITTED                 1299
DECISION_DATE                   359
VISA_CLASS                        4
EMPLOYMENT_START_DATE          1560
EMPLOYMENT_END_DATE            1637
EMPLOYER_NAME                 70564
EMPLOYER_BUSINESS_DBA         11336
EMPLOYER_ADDRESS              63449
EMPLOYER_CITY                  5009
EMPLOYER_STATE                   55
EMPLOYER_POSTAL_CODE          10772
EMPLOYER_COUNTRY                  5
EMPLOYER_PROVINCE               347
EMPLOYER_PHONE                96551
EMPLOYER_PHONE_EXT             1549
AGENT_REPRESENTING_EMPLOYER       2
AGENT_ATTORNEY_NAME            6861
AGENT_ATTORNEY_CITY            1043
AGENT_ATTORNEY_STATE             55
JOB_TITLE                    105856
SOC_CODE                        742
SOC_NAME                        926
NAICS_CODE                     2040
TOTAL_WORKERS                    55
NEW_EMPLOYMENT                   48
CONTINUED_EMPLOYMENT             24
CHANGE_PREVIOUS_EMPLOYMENT       26
NEW_CONCURRENT_EMP               10
CHANGE_EMPLOYER                  27
AMENDED_PETITION                 21
FULL_TIME_POSITION                2
PREVAILING_WAGE               27036
PW_UNIT_OF_PAY                    5
PW_WAGE_LEVEL                     4
PW_SOURCE                         5
PW_SOURCE_YEAR                   19
PW_SOURCE_OTHER                3288
WAGE_RATE_OF_PAY_FROM         55786
WAGE_RATE_OF_PAY_TO           16776
WAGE_UNIT_OF_PAY                  5
H1B_DEPENDENT                     2
WILLFUL_VIOLATOR                  2
SUPPORT_H1B                       2
LABOR_CON_AGREE                   2
PUBLIC_DISCLOSURE_LOCATION        0
WORKSITE_CITY                  7962
WORKSITE_COUNTY                3752
WORKSITE_STATE                   56
WORKSITE_POSTAL_CODE          14857
ORIGINAL_CERT_DATE             1034
Target                            2

In [14]:
data=df

In [15]:
# Adding Visa Duration:
from datetime import datetime
data['Visa_duration']=pd.to_datetime(data['EMPLOYMENT_END_DATE'],infer_datetime_format=True)-pd.to_datetime(data['EMPLOYMENT_START_DATE'],infer_datetime_format=True)
#data['EMPLOYMENT_END_DATE']-data['EMPLOYMENT_START_DATE']
data['Visa_duration']=data['Visa_duration'].dt.days

In [16]:
data.dtypes

CASE_NUMBER                     object
CASE_STATUS                     object
CASE_SUBMITTED                  object
DECISION_DATE                   object
VISA_CLASS                      object
EMPLOYMENT_START_DATE           object
EMPLOYMENT_END_DATE             object
EMPLOYER_NAME                   object
EMPLOYER_BUSINESS_DBA           object
EMPLOYER_ADDRESS                object
EMPLOYER_CITY                   object
EMPLOYER_STATE                  object
EMPLOYER_POSTAL_CODE            object
EMPLOYER_COUNTRY                object
EMPLOYER_PROVINCE               object
EMPLOYER_PHONE                  object
EMPLOYER_PHONE_EXT              object
AGENT_REPRESENTING_EMPLOYER     object
AGENT_ATTORNEY_NAME             object
AGENT_ATTORNEY_CITY             object
AGENT_ATTORNEY_STATE            object
JOB_TITLE                       object
SOC_CODE                        object
SOC_NAME                        object
NAICS_CODE                     float64
TOTAL_WORKERS                    int64
NEW_EMPLOYMENT                   int64
CONTINUED_EMPLOYMENT             int64
CHANGE_PREVIOUS_EMPLOYMENT       int64
NEW_CONCURRENT_EMP               int64
CHANGE_EMPLOYER                  int64
AMENDED_PETITION                 int64
FULL_TIME_POSITION              object
PREVAILING_WAGE                 object
PW_UNIT_OF_PAY                  object
PW_WAGE_LEVEL                   object
PW_SOURCE                       object
PW_SOURCE_YEAR                 float64
PW_SOURCE_OTHER                 object
WAGE_RATE_OF_PAY_FROM           object
WAGE_RATE_OF_PAY_TO             object
WAGE_UNIT_OF_PAY                object
H1B_DEPENDENT                   object
WILLFUL_VIOLATOR                object
SUPPORT_H1B                     object
LABOR_CON_AGREE                 object
PUBLIC_DISCLOSURE_LOCATION     float64
WORKSITE_CITY                   object
WORKSITE_COUNTY                 object
WORKSITE_STATE                  object
WORKSITE_POSTAL_CODE            object
ORIGINAL_CERT_DATE              object
Target                         float64
Visa_duration                  float64
dtype: object

In [17]:
data['EMPLOYER_NAME_BIN']=data['EMPLOYER_NAME']

In [18]:

data['EMPLOYER_NAME_BIN'] = np.where(df['EMPLOYER_NAME'].isin(["NTT DATA, INC.",
                                        "GOOGLE LLC",
                                        "KPMG LLP",
                                        "PAYPAL, INC.",
                                        "GOLDMAN SACHS & CO. LLC",
                                        "DELOITTE & TOUCHE LLP",
                                        "TESLA, INC.",
                                        "VMWARE, INC.",
                                        "APPLE INC.",
                                        "POPULUS GROUP LLC",
                                        "EBAY INC.",
                                        "JPMORGAN CHASE & CO.",
                                        "DELOITTE CONSULTING LLP"]), 'Bin1',
                                        
                            np.where(df['EMPLOYER_NAME'].isin(["AMAZON WEB SERVICES, INC.",
                                        "BANK OF AMERICA N.A.",
                                        "IBM CORPORATION",
                                        "ERNST & YOUNG U.S. LLP",
                                        "FACEBOOK, INC.",
                                        "VIRTUSA CORPORATION",
                                        "V-SOFT CONSULTING GROUP, INC",
                                        "AMAZON.COM SERVICES, INC.",
                                        "SALESFORCE.COM INC.",
                                        "IBM INDIA PRIVATE LIMITED",
                                        "PRICEWATERHOUSECOOPERS LLP",
                                        "COMPUNNEL SOFTWARE GROUP, INC."]), 'Bin2',
                                         
                            np.where(df['EMPLOYER_NAME'].isin(["PRICEWATERHOUSECOOPERS ADVISORY SERVICES LLC",
                                        "LINKEDIN CORPORATION",
                                        "PEOPLE TECH GROUP INC.",
                                        "KFORCE INC.",
                                        "MASTECH DIGITAL TECHNOLOGIES, INC.",
                                        "A MASTECH DIGITAL, INC. COMPANY",
                                        "L&T TECHNOLOGY SERVICES LIMITED",
                                        "INTEL CORPORATION",
                                        "LARSEN & TOUBRO INFOTECH LIMITED",
                                        "UST GLOBAL INC.",
                                        "CAPGEMINI AMERICA INC",
                                        "WIPRO LIMITED",
                                        "WAL-MART ASSOCIATES, INC."]), 'Bin3',
                                        
                            np.where(df['EMPLOYER_NAME'].isin(["TATA CONSULTANCY SERVICES LIMITED",
                                        "RANDSTAD TECHNOLOGIES, LLC",
                                        "SYNTEL INC",
                                        "HCL AMERICA, INC.",
                                        "TECH MAHINDRA (AMERICAS),INC.",
                                        "ACCENTURE LLP"]), 'Bin4',
                                        
                            np.where(df['EMPLOYER_NAME'].isin(["COGNIZANT TECHNOLOGY SOLUTIONS US CORP",
                                        "INFOSYS LIMITED",
                                        "MICROSOFT CORPORATION",
                                        "COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION",
                                        "HEXAWARE TECHNOLOGIES, INC.",
                                        "UBER TECHNOLOGIES, INC.",
                                        "MINDTREE LIMITED"]), 'Bin5',
                                                 'Others')))))

In [19]:

def calculate_woe_iv(dataset, feature, target):
    lst = []
    for i in range(dataset[feature].nunique()):
        val = list(dataset[feature].unique())[i]
        lst.append({
            'Value': val,
            'All': dataset[dataset[feature] == val].count()[feature],
            'Good': dataset[(dataset[feature] == val) & (dataset[target] == 0)].count()[feature],
            'Bad': dataset[(dataset[feature] == val) & (dataset[target] == 1)].count()[feature]
        })
        
    dset = pd.DataFrame(lst)
    dset['Distr_Good'] = dset['Good'] / dset['Good'].sum()
    dset['Distr_Bad'] = dset['Bad'] / dset['Bad'].sum()
    dset['WoE'] = np.log(dset['Distr_Good'] / dset['Distr_Bad'])
    dset = dset.replace({'WoE': {np.inf: 0, -np.inf: 0}})
    dset['IV'] = (dset['Distr_Good'] - dset['Distr_Bad']) * dset['WoE']
    iv = dset['IV'].sum()
    
    dset = dset.sort_values(by='WoE')
    
    return dset, iv

In [20]:
data=data[data['CASE_STATUS'] != 'WITHDRAWN']

In [21]:
data['EMPLOYER_CITY_BIN']=data['EMPLOYER_CITY']

In [22]:

data['EMPLOYER_CITY_BIN'] = np.where(data['EMPLOYER_CITY'].isin(["BROOKLYN",
                                                    "LOS ANGELES",
                                                    "OVERLAND PARK",
                                                    "MIAMI",
                                                    "JACKSONVILLE",
                                                    "LAS VEGAS",
                                                    "BOSTON",
                                                    "WASHINGTON",
                                                    "DETROIT",
                                                    "AUSTIN",
                                                    "SAN DIEGO",
                                                    "COLUMBUS",
                                                    "NEW YORK"]), 'Bin1',
                                        
                            np.where(data['EMPLOYER_CITY'].isin(["CHICAGO",
                                                        "IRVINE",
                                                        "MINNEAPOLIS",
                                                        "FOSTER CITY",
                                                        "INDIANAPOLIS",
                                                        "MOUNTAIN VIEW",
                                                        "WILMINGTON",
                                                        "ROCHESTER",
                                                        "HOUSTON",
                                                        "ATLANTA",
                                                        "NEWARK",
                                                        "PHOENIX",]), 'Bin2',
                                         
                            np.where(data['EMPLOYER_CITY'].isin(["CAMBRIDGE",
                                                            "MILPITAS",
                                                            "SAN JOSE",
                                                            "NAPERVILLE",
                                                            "CINCINNATI",
                                                            "WESTBOROUGH",
                                                            "LOUISVILLE",
                                                            "SAN FRANCISCO",
                                                            "MEMPHIS",
                                                            "SPRINGFIELD",
                                                            "MILWAUKEE",
                                                            "SEATTLE",
                                                            "CUPERTINO",
                                                            "COLUMBIA",
                                                            "STERLING",
                                                            "FAIRFAX",
                                                            "RESTON",
                                                            "ALPHARETTA",
                                                            "SAN MATEO",
                                                            "CARY",
                                                            "DULUTH",
                                                            "ROUND ROCK"]), 'Bin3',
                                        
                            np.where(data['EMPLOYER_CITY'].isin(["DURHAM",
                                                        "MENLO PARK",
                                                        "JERSEY CITY",
                                                        "NASHVILLE",
                                                        "PHILADELPHIA",
                                                        "PALO ALTO",
                                                        "ST. LOUIS",
                                                        "BELLEVUE",
                                                        "BURLINGTON",
                                                        "PLEASANTON",
                                                        "CHARLOTTE",
                                                        "SANTA CLARA",
                                                        "PITTSBURGH"]), 'Bin4',
                                        
                            np.where(data['EMPLOYER_CITY'].isin(["RICHMOND",
                                                        "FRISCO",
                                                        "RICHARDSON",
                                                        "DALLAS",
                                                        "SOMERSET",
                                                        "OMAHA",
                                                        "DUBLIN",
                                                        "CHANTILLY",
                                                        "SCHAUMBURG",
                                                        "ANN ARBOR",
                                                        "FARMINGTON HILLS",
                                                        "SECAUCUS",
                                                        "NORTH BRUNSWICK",
                                                        "FREMONT",
                                                        "IRVING",
                                                        "SOUTHFIELD",
                                                        "PRINCETON",
                                                        "TAMPA"]), 'Bin5',
                                     
                            np.where(data['EMPLOYER_CITY'].isin(["SUNNYVALE",
                                                            "HERNDON",
                                                            "ASHBURN",
                                                            "EDISON",
                                                            "REDWOOD CITY",
                                                            "TROY",
                                                            "ALISO VIEJO",
                                                            "PLAINSBORO",
                                                            "PLANO",
                                                            "PISCATAWAY",
                                                            "SUNRISE"]), 'Bin6',
                                     
                                     
                                     
                            np.where(data['EMPLOYER_CITY'].isin(["MOON TOWNSHIP",
                                                            "WOBURN",
                                                            "SOUTH PLAINFIELD",
                                                            "EAST BRUNSWICK",
                                                            "ROCKVILLE",
                                                            "ISELIN",
                                                            "REDMOND",
                                                            "BENTONVILLE",
                                                            "COLLEGE STATION"]), 'Bin7',                                   
                                                                      'Others')))))))

In [23]:
data['AGENT_ATTORNEY_CITY_BIN']=data['AGENT_ATTORNEY_CITY']

In [24]:
data['AGENT_ATTORNEY_CITY_BIN'] = np.where(data['AGENT_ATTORNEY_CITY'].isin(['FLUSHING','ORLANDO','FORT LAUDERDALE','KANSAS CITY','RALEIGH','WILTON','CHARLOTTE','MIAMI','CORAL GABLES','PORTLAND','RICHARDSON','MEMPHIS','BALTIMORE','SAN DIEGO','NEWARK','MILWAUKEE','COLUMBUS','WOODLAND HILLS','MCLEAN','LOS ANGELES','CINCINNATI','VANCOUVER','DALLAS','MINNEAPOLIS','HOUSTON','MADISON','DENVER','ANN ARBOR','AUSTIN','MATAWAN','HARTFORD','ARLINGTON']), 'Bin1',
                                        
                            np.where(data['AGENT_ATTORNEY_CITY'].isin(['ATLANTA','SANTA MONICA','SEATTLE','COLUMBIA','RICHMOND','TAMPA','ALLEN','PHOENIX','NEW YORK','JACKSONVILLE','SANTA CLARA','IRVINE',]), 'Bin2',
                                         
                            np.where(data['AGENT_ATTORNEY_CITY'].isin(['FREMONT','ENOLA','PHILADELPHIA','LAKE SUCCESS','SALT LAKE CITY','TORONTO','OAKLAND','DULUTH','OMAHA','BOSTON','SAN JOSE',]), 'Bin3',
                                        
                            np.where(data['AGENT_ATTORNEY_CITY'].isin(['SAN FRANCISCO','CHICAGO','ST. LOUIS','ROCKVILLE','LOS ALTOS','CLEVELAND','GAINESVILLE','WASHINGTON','ADDISON','PITTSBURGH','TROY','HERNDON','BUFFALO','INDIANAPOLIS','POTOMAC','CLAWSON','TRUMBULL','WHITE PLAINS','FRAMINGHAM','DETROIT','PRINCETON','IRVING','CAMBRIDGE',]), 'Bin4',
                                        
                            np.where(data['AGENT_ATTORNEY_CITY'].isin(['BLOOMFIELD HILLS','CERRITOS','OWINGS MILLS','ALPHARETTA','SUWANEE','EDISON','GAITHERSBURG','CALABASAS HILLS','LIVONIA','HAMDEN','ISELIN','RESTON','WORCESTER','SCHAUMBURG','WEST BLOOMFIELD','ASHBURN','WOBURN','FARMINGTON HILLS','EAST BRUNSWICK','DUBLIN','SOUTH PLAINFIELD',]), 'Bin5','Others')))))

In [25]:
data['AGENT_ATTORNEY_STATE_BIN']=data['AGENT_ATTORNEY_STATE']

In [26]:
data['AGENT_ATTORNEY_STATE_BIN'] = np.where(data['AGENT_ATTORNEY_STATE'].isin(['WV','MP','WY','NH','NV','PR','KS','AK','NM','IA','KY','TN','ID','GU','OK','FL','MS','AL','NC','WA','VT','SC','HI','ME','OR','MN','LA','WI','CO','TX']), 'Bin1',
                                        
                            np.where(data['AGENT_ATTORNEY_STATE'].isin(['IN','AR','MO','RI','UT','OH','PA','NE','NY']), 'Bin2',
                                         
                            np.where(data['AGENT_ATTORNEY_STATE'].isin(['AZ','CA']), 'Bin3',
                                        
                            np.where(data['AGENT_ATTORNEY_STATE'].isin(['GA','CT','MD','VA','NJ']), 'Bin4',
                                     
                            np.where(data['AGENT_ATTORNEY_STATE'].isin(['MA','IL','DC']), 'Bin5','Others')))))

In [27]:
data['PREVAILING_WAGE']=np.where((data['PW_UNIT_OF_PAY'].isin(['Hour'])),data['PREVAILING_WAGE']*40*52,data['PREVAILING_WAGE'])
data['PREVAILING_WAGE']=np.where((data['PW_UNIT_OF_PAY'].isin(['Month'])),data['PREVAILING_WAGE']*12,data['PREVAILING_WAGE'])
data['PREVAILING_WAGE']=np.where((data['PW_UNIT_OF_PAY'].isin(['Week'])),data['PREVAILING_WAGE']*52,data['PREVAILING_WAGE'])
data['PREVAILING_WAGE']=np.where((data['PW_UNIT_OF_PAY'].isin(['Bi-Weekly'])),data['PREVAILING_WAGE']*26,data['PREVAILING_WAGE'])

In [ ]:
data['PREVAILING_WAGE'][data['PREVAILING_WAGE']==0]=np.mean(data['PREVAILING_WAGE'])

In [22]:
data['PREVAILING_WAGE'][data['PREVAILING_WAGE']>300000]=np.mean(data['PREVAILING_WAGE'])

In [23]:
data['PREVAILING_WAGE_BIN'] = data['PREVAILING_WAGE']

In [24]:
data['PREVAILING_WAGE_BIN'] = np.where(data['PREVAILING_WAGE']<=37003 , 'Bin1',
                                        
                            np.where(data['PREVAILING_WAGE']< 41627, 'Bin2',
                                         
                            np.where(data['PREVAILING_WAGE'] < 56534, 'Bin3',
                                        
                            np.where(data['PREVAILING_WAGE'] <= 126382, 'Bin4',
                                        
                             'Bin5'))))

In [25]:
data['WORKSITE_CITY_BIN']=data['WORKSITE_CITY']

In [26]:
data['WORKSITE_CITY_BIN'] = np.where(data['WORKSITE_CITY'].isin(["NEWYORK",
                                        "CHICAGO",
                                        "HOUSTON",
                                        ]), 'Bin1',
                                        
                            np.where(data['WORKSITE_CITY'].isin(["ATLANTA",
                                        "MOUNTAIN VIEW",
                                        "DALLAS",
                                        "AUSTIN",
                                        "BOSTON",
                                        "IRVING",
                                        "CHARLOTTE",
                                        "BELLEVUE"
                                        ]), 'Bin2',
                                         
                            np.where(data['WORKSITE_CITY'].isin(["COLUMBUS",
                                        "LOS ANGELES",
                                        "JERSEY CITY",
                                        "ALPHARETTA",
                                        "IRVINE",
                                        "FREMONT",
                                        "MENLO PARK",
                                        "MINNEAPOLIS",
                                        "MCLEAN",
                                        "CAMBRIDGE",
                                        "MIAMI",
                                        "INDIANAPOLIS",
                                        "DURHAM","BROOKLYN","CUPERTINO","JACKSONVILLE","DEARBORN","BENTONVILLE","NEWARK","AURBURN HILLS","EDISON","DETROIT","FORTWORTH"]), 'Bin3',
                                        
                            np.where(data['WORKSITE_CITY'].isin(["MILPITAS",
                                        "CINCINATTI",
                                        "BALTIMORE",
                                        "BLOOMINGTON",
                                        "HARTFORD",
                                        "FRISCO","NASHVILLE","LAKE MARY","MEMPHIS","DENVER","COLUMBIA","LOUISVILLE","MADISON","HERNDON","MILWAUKEE","CARY","DUBLIN","MALVERN","ANN ARBOR", "FOSTER CITY","ARLINGTON","FARMINGTON HILLS","DEERFIELD","ENGLEWOOD","NORFOLK","CLEVELAND","BURLINGTON","HILLSBORO","EL SEGUNDO","BETHESDA","KANSAS CITY","LAS VEGAS","MORRISVILLE","ALBANY","OAKLAND","COLLIERVILLE","FRANKLIN","BRIDGEWATER","BEAVERTON","HOBOKEN","MASON","MIDDLETON","NOVI","BOTHELL",'ISELIN',"BRONX","CHANDLER","EAGAN","MECHANICSBURG","LEXINGTON","ASHBURN","GREENWOOD VILLAGE","HARRISBURG","BUFFALO","NAPPERVILLE","LONG ISLAND CITY",
                                        "GREENSBORO",
                                        "NORTH KANSAS CITY ",
                                        "EDEN PRAIRIE",
                                        "ADDISON",
                                        "GREENVILLE",
                                        "DES MOINES","BIRMINGHAM","LIVONIA","FRAMINGHAM"]), 'Bin4','Others'))))

In [27]:
data['NAICS_CODE_BIN']=data['NAICS_CODE']

In [28]:
data['NAICS_CODE_BIN'] = np.where(data['NAICS_CODE'].isin(['611110','621111','622110','54121','523920','541710','541330','511210','334413','522320','334111','611310','541690','518210','551112','541990','541211','54161']), 'Bin1',
                                        
                            np.where(data['NAICS_CODE'].isin(['541519','5415','54151','336111','522110','523110','541611','541512','454111','518112']), 'Bin2',
                                     
                            np.where(data['NAICS_CODE'].isin(['541511']), 'Bin3','Others')))

In [29]:
data['WORKSITE_COUNTY_BIN']=data['WORKSITE_COUNTY']

In [30]:
data['WORKSITE_COUNTY_BIN'] = np.where(data['WORKSITE_COUNTY'].isin(["SANTACLARA","NEWYORK","KING",
                                        "MIDDLESEX",
                                        "DALLAS","SAN FRANCISCO",
                                        "COOK",
                                        "LOS ANGELES"
                                        ]), 'Bin1',
                                        
                            
                                         
                            np.where(data['WORKSITE_COUNTY'].isin([
                                        "FULTON",
                                        "HARRIS",
                                        "SAN MATEO",
                                        "SUFOLK",
                                        "ALAMEDA",
                                        "MARICOPA",
                                        "COLLIN",
                                        "ORANGE",
                                        
                                        ]), 'Bin2',
                                        
                            np.where(data['WORKSITE_COUNTY'].isin(["MONTGOMERY",
                                        "OAKLND",
                                        "FAIRFAX",
                                        "PHILADEPHIA",
                                        "HUDSON",
                                        "MCKLENBERG","TRAVIS","WAYNE","HENNEPIN","FRANKLIN","SAN DIEGO","SOMERSET","HILLSBOROUGH"
"ALLEGHENY",
"LAKE"
"WAKE",
"HARTFORD",
"WASHINGTON",
"MERCER",
"BERGEN",
"NEW CASTLE",
"MIAMI-DADE",
"HAMILTON",
"TARRANT",
"MORRIS",
"JEFFERSON",
"DURHAM",
"FAIRFIELD",
"DISTRICT OF COLUMBIA",
"SHELBY",
"CHESTER",
"BENTON",
"ESSEX",
"MARION",
"NORFOLK",
"WILLIAMSON",
"DUPAGE",
"ARAPAHOE",
"DOUGLAS",
"CUYAHOGA",

]), 'Bin3',
                                      np.where(data['WORKSITE_COUNTY'].isin(["BALTIMORE",
"JOHNSON",
"DAVIDSON",
"KINGS",
"ST. LOUIS"
"DELAWARE",
"HENRICO",
"QUEENS",
"LOUDOUN",
"DEKALB",
"GWINNETT",
"WORCESTER",
"DENTON",
"DENVER",
"DANE",
"POLK",
"WESTCHESTER",
"WASHTENAW",
"NASSAU",
"ERIE",
"CALIFORNIA",
"RAMSEY",
"CUMBERLAND",
"JACKSON",
"PINELLAS",
"MONROE",
"MACOMB",
"MULTNOMAH",
"MONMOUTH",
"BALTIMORE CITY",
"SAINT LOUIS","CONTRA COSTA",
"BEXAR",
"SALT LAKE",
"COBB",
"DUVAL"
"MILWAUKEE",
"BROWARD",
"SEMINOLE",
"UNION",
"SACRAMENTO",
"PROVIDENCE"]), 'Bin4'
                                        
,'Others'))))

In [31]:
data['Visa_duration_bin']=data['Visa_duration']

In [32]:
data['Visa_duration_bin'] = np.where(data['Visa_duration']<=366 , '<1yr',
                                        
                            np.where(data['Visa_duration']< 740, '1-2 yrs',
                                         
                            np.where(data['Visa_duration'] < 1100, '2-3 yrs',
                                                                              
                             '3+ yrs')))

In [33]:
data['SOC_REVISED_CODE']=data['SOC_REVISED_CODE'].astype('object')
data['NEW_EMPLOYMENT']=data['NEW_EMPLOYMENT'].astype('object')
data['CONTINUED_EMPLOYMENT']=data['CONTINUED_EMPLOYMENT'].astype('object')
data['CHANGE_PREVIOUS_EMPLOYMENT']=data['CHANGE_PREVIOUS_EMPLOYMENT'].astype('object')
data['NEW_CONCURRENT_EMP']=data['NEW_CONCURRENT_EMP'].astype('object')
data['CHANGE_EMPLOYER']=data['CHANGE_EMPLOYER'].astype('object')
data['AMENDED_PETITION']=data['AMENDED_PETITION'].astype('object')

In [65]:
dfsoc=pd.read_csv("D:\WPI\Machine Learning\Project\Copy of SOC_CODE Revised Column.csv",encoding="Windows-1252")
pd.set_option('mode.chained_assignment', None)

In [66]:
dfsoc.head()

  SOC_CODE  SOC_CODE_REVISED
0  15-1132              15.0
1  13-2011              13.0
2  15-1141              15.0
3  15-1132              15.0
4  15-1132              15.0

In [67]:
dfsoc.dtypes

SOC_CODE             object
SOC_CODE_REVISED    float64
dtype: object

In [68]:
dfsoc['SOC_CODE']=dfsoc['SOC_CODE'].astype(str)

In [70]:
dfsoc['SOC_CODE'].head()

0    15-1132
1    13-2011
2    15-1141
3    15-1132
4    15-1132
Name: SOC_CODE, dtype: object

In [51]:
s=data['SOC_CODE'].astype(str)
s.dtype
s.head()

0    15-1132
1    13-2011
2    15-1141
3    15-1132
4    15-1132
Name: SOC_CODE, dtype: object

In [159]:
data['EMPLOYER_STATE_BIN']=data['EMPLOYER_STATE']
data['EMPLOYER_STATE_BIN'] = np.where(data['EMPLOYER_STATE'].isin(['CA'
                                        ]), 'Bin1',
                                        
                            np.where(data['EMPLOYER_STATE'].isin(["NJ"
                                      
                                        ]), 'Bin2',
                                         
                            np.where(data['EMPLOYER_STATE'].isin(["TX",
                                       ]), 'Bin3',
                                        
                            np.where(data['EMPLOYER_STATE'].isin(["NY",
                                        "IL"]), 'bin4',
                                      np.where(data['EMPLOYER_STATE'].isin(["PA",
                                        "MI"
                                        ]), 'bin5',
                                                np.where(data['EMPLOYER_STATE'].isin(["MA",
                                        "MD",'WA']), 'bin6',
                                        
                                        
                                        
                            np.where(data['EMPLOYER_STATE'].isin(["VA",
                                        "FL","GA"
                                        ]), 'Bin7',
                                                 'Others')))))))

In [160]:
data['NEW_EMPLOYMENT_BIN'] = data['NEW_EMPLOYMENT']
data['NEW_EMPLOYMENT_BIN'] = np.where(data['NEW_EMPLOYMENT'].isin([0]), '0',
                             np.where(data['NEW_EMPLOYMENT'].isin([1]), '1', '>1'))

In [161]:
data['CONTINUED_EMPLOYMENT_BIN'] = data['CONTINUED_EMPLOYMENT']
data['CONTINUED_EMPLOYMENT_BIN'] = np.where(data['CONTINUED_EMPLOYMENT'].isin([0]), '0',
                             np.where(data['CONTINUED_EMPLOYMENT'].isin([1]), '1', '>1'))

In [162]:
data['CHANGE_PREVIOUS_EMPLOYMENT_BIN'] = data['CHANGE_PREVIOUS_EMPLOYMENT']
data['CHANGE_PREVIOUS_EMPLOYMENT_BIN'] = np.where(data['CHANGE_PREVIOUS_EMPLOYMENT'].isin([0]), '0',
                             np.where(data['CHANGE_PREVIOUS_EMPLOYMENT'].isin([1]), '1', '>1'))

In [163]:
data['NEW_CONCURRENT_EMP_BIN'] = data['NEW_CONCURRENT_EMP']
data['NEW_CONCURRENT_EMP_BIN'] = np.where(data['NEW_CONCURRENT_EMP'].isin([0]), '0',
                             np.where(data['NEW_CONCURRENT_EMP'].isin([1]), '1', '>1'))

In [164]:
data['CHANGE_EMPLOYER_BIN'] = data['CHANGE_EMPLOYER']
data['CHANGE_EMPLOYER_BIN'] = np.where(data['CHANGE_EMPLOYER'].isin([0]), '0',
                             np.where(data['CHANGE_EMPLOYER'].isin([1]), '1', '>1'))

In [165]:
data['AMENDED_PETITION_BIN'] = data['AMENDED_PETITION']
data['AMENDED_PETITION_BIN'] = np.where(data['AMENDED_PETITION'].isin([0]), '0',
                             np.where(data['AMENDED_PETITION'].isin([1]), '1', '>1'))

In [166]:
data['WORKSITE_CITY_BIN']=data['WORKSITE_CITY']
data['WORKSITE_CITY_BIN'] = np.where(data['WORKSITE_CITY'].isin(["NEWYORK",
                                        "CHICAGO",
                                        "HOUSTON",
                                        ]), 'Bin1',
                                        
                            np.where(data['WORKSITE_CITY'].isin(["ATLANTA",
                                        "MOUNTAIN VIEW",
                                        "DALLAS",
                                        "AUSTIN",
                                        "BOSTON",
                                        "IRVING",
                                        "CHARLOTTE",
                                        "BELLEVUE"
                                        ]), 'Bin2',
                                         
                            np.where(data['WORKSITE_CITY'].isin(["COLUMBUS",
                                        "LOS ANGELES",
                                        "JERSEY CITY",
                                        "ALPHARETTA",
                                        "IRVINE",
                                        "FREMONT",
                                        "MENLO PARK",
                                        "MINNEAPOLIS",
                                        "MCLEAN",
                                        "CAMBRIDGE",
                                        "MIAMI",
                                        "INDIANAPOLIS",
                                        "DURHAM","BROOKLYN","CUPERTINO","JACKSONVILLE","DEARBORN","BENTONVILLE","NEWARK","AURBURN HILLS","EDISON","DETROIT","FORTWORTH"]), 'Bin3',
                                        
                            np.where(data['WORKSITE_CITY'].isin(["MILPITAS",
                                        "CINCINATTI",
                                       "BALTIMORE",
                                        "BLOOMINGTON",
                                        "HARTFORD",
                                        "FRISCO","NASHVILLE","LAKE MARY","MEMPHIS","DENVER","COLUMBIA","LOUISVILLE","MADISON","HERNDON","MILWAUKEE","CARY","DUBLIN","MALVERN","ANN ARBOR", "FOSTER CITY","ARLINGTON","FARMINGTON HILLS","DEERFIELD","ENGLEWOOD","NORFOLK","CLEVELAND","BURLINGTON","HILLSBORO","EL SEGUNDO","BETHESDA","KANSAS CITY","LAS VEGAS","MORRISVILLE","ALBANY","OAKLAND","COLLIERVILLE","FRANKLIN","BRIDGEWATER","BEAVERTON","HOBOKEN","MASON","MIDDLETON","NOVI","BOTHELL",'ISELIN',"BRONX","CHANDLER","EAGAN","MECHANICSBURG","LEXINGTON","ASHBURN","GREENWOOD VILLAGE","HARRISBURG","BUFFALO","NAPPERVILLE","LONG ISLAND CITY",
                                        "GREENSBORO",
                                        "NORTH KANSAS CITY ",
                                        "EDEN PRAIRIE",
                                        "ADDISON",
                                        "GREENVILLE",
                                        "DES MOINES","BIRMINGHAM","LIVONIA","FRAMINGHAM"]), 'Bin4','Others'))))

In [167]:
data['WORKSITE_STATE_BIN']=data['WORKSITE_STATE']
data['WORKSITE_STATE_BIN'] = np.where(data['WORKSITE_STATE'].isin(['CA'
                                        ]), 'Bin1',
                                        
                            np.where(data['WORKSITE_STATE'].isin(["TX"
                                      
                                        ]), 'Bin2',
                                         
                            np.where(data['WORKSITE_STATE'].isin(["NY",
                                       ]), 'Bin3',
                                        
                            np.where(data['WORKSITE_STATE'].isin(["NJ"
                                        ]), 'bin4',
                                      np.where(data['WORKSITE_STATE'].isin(["IL",
                                        "WA"
                                        ]), 'bin5',
                                                np.where(data['WORKSITE_STATE'].isin(["MA",
                                        'PA']), 'bin6',
                                        
                                        
                                        
                            np.where(data['WORKSITE_STATE'].isin(["GA",
                                        "FL"
                                        ]), 'Bin7',
                                                 'Others')))))))

In [169]:
subset1=data[['EMPLOYER_NAME_BIN',                          
'EMPLOYER_STATE_BIN',                       
'EMPLOYER_COUNTRY',                       
'AGENT_REPRESENTING_EMPLOYER',             
'SOC_REVISED_CODE',                      
'NEW_EMPLOYMENT_BIN' ,                          
'CONTINUED_EMPLOYMENT_BIN',                     
'CHANGE_PREVIOUS_EMPLOYMENT_BIN',               
'NEW_CONCURRENT_EMP_BIN',
'CHANGE_EMPLOYER_BIN',
'AMENDED_PETITION_BIN',
'FULL_TIME_POSITION',                      
'PW_UNIT_OF_PAY',                         
'PW_WAGE_LEVEL',                           
'PW_SOURCE',                              
'WAGE_UNIT_OF_PAY',                     
'H1B_DEPENDENT',                           
'WILLFUL_VIOLATOR',                        
'SUPPORT_H1B',                             
'LABOR_CON_AGREE',                        
'WORKSITE_STATE' ,                         
'Visa_duration_bin',                  
'EMPLOYER_NAME_BIN' ,                      
'EMPLOYER_CITY_BIN',                       
'AGENT_ATTORNEY_CITY_BIN',                 
'AGENT_ATTORNEY_STATE_BIN',                
'PREVAILING_WAGE_BIN',                     
'WORKSITE_CITY_BIN', 
'NAICS_CODE_BIN',                          
'WORKSITE_COUNTY_BIN',
'WORKSITE_STATE_BIN',
'Target']]

In [ ]:
subset1['Target']=subset1['Target'].astype('object')

In [170]:
for col in subset1.columns:
    if col == 'Target': continue
    else:
        print('WoE and IV for column: {}'.format(col))
        df, iv = calculate_woe_iv(data, col, 'Target')
        print(df)
        print('IV score: {:.2f}'.format(iv))
        print('\n')

WoE and IV for column: EMPLOYER_NAME_BIN
      All   Bad    Good   Value  Distr_Good  Distr_Bad       WoE        IV
2  477241  7796  469445  Others    0.751770   0.903675 -0.184039  0.027956
5   35539   511   35028    Bin1    0.056094   0.059233 -0.054446  0.000171
1   28542   226   28316    Bin2    0.045345   0.026197  0.548668  0.010506
3   25382    62   25320    Bin3    0.040547   0.007187  1.730236  0.057722
4   33298    31   33267    Bin4    0.053274   0.003593  2.696355  0.133956
0   33078     1   33077    Bin5    0.052970   0.000116  6.124614  0.323708
IV score: 0.55


WoE and IV for column: EMPLOYER_STATE_BIN
      All   Bad    Good   Value  Distr_Good  Distr_Bad       WoE        IV
5   98572  1898   96674  Others    0.154814   0.220007 -0.351435  0.022911
7   82269  1372   80897    bin4    0.129549   0.159036 -0.205072  0.006047
3   54494   876   53618    Bin7    0.085864   0.101542 -0.167705  0.002629
4  109852  1762  108090    Bin1    0.173095   0.204242 -0.165465  0.005154
0   68655   850   67805    bin6    0.108583   0.098528  0.097176  0.000977
6   60549   629   59920    bin5    0.095956   0.072911  0.274655  0.006330
2   77203   681   76522    Bin3    0.122542   0.078938  0.439792  0.019177
1   81486   559   80927    Bin2    0.129597   0.064797  0.693174  0.044918
IV score: 0.11


WoE and IV for column: EMPLOYER_COUNTRY
      All   Bad    Good                     Value  Distr_Good  Distr_Bad  \
2      24     5      19                 AUSTRALIA    0.000030   0.000580
3      33     1      32                    CANADA    0.000051   0.000116
0  633017  8616  624401  UNITED STATES OF AMERICA    0.999918   0.999304
1       0     0       0                       NaN    0.000000   0.000000

        WoE            IV
2 -2.947556  1.619639e-03
3 -0.816821  5.287893e-05
0  0.000614  3.774162e-07
1       NaN           NaN
IV score: 0.00


WoE and IV for column: AGENT_REPRESENTING_EMPLOYER
      All   Bad    Good Value  Distr_Good  Distr_Bad       WoE        IV
0  188543  3255  185288     N     0.29672   0.378005 -0.242117  0.019680
1  444521  5356  439165     Y     0.70328   0.621995  0.122822  0.009984
IV score: 0.03


WoE and IV for column: SOC_REVISED_CODE
     All  Bad  Good  Value  Distr_Good  Distr_Bad       WoE        IV
15     2    1     1   31.0    0.000347   0.002273 -1.878076  0.003616
14     3    1     2   45.0    0.000695   0.002273 -1.184929  0.001870
12     8    2     6   43.0    0.002085   0.004545 -0.779464  0.001918
8     38    7    31   27.0    0.010771   0.015909 -0.389999  0.002004
6     97   14    83   25.0    0.028839   0.031818 -0.098293  0.000293
5    163   23   140   20.0    0.048645   0.052273 -0.071928  0.000261
0   1849  250  1599   15.0    0.555594   0.568182 -0.022403  0.000282
17     3    0     3   47.0    0.001042   0.000000  0.000000  0.000000
16     2    0     2   49.0    0.000695   0.000000  0.000000  0.000000
13     2    0     2   21.0    0.000695   0.000000  0.000000  0.000000
9      2    0     2   51.0    0.000695   0.000000  0.000000  0.000000
18     1    0     1   35.0    0.000347   0.000000  0.000000  0.000000
19     1    0     1   53.0    0.000347   0.000000  0.000000  0.000000
3    182   24   158   19.0    0.054899   0.054545  0.006465  0.000002
2    297   39   258   17.0    0.089646   0.088636  0.011322  0.000011
11    40    5    35   11.0    0.012161   0.011364  0.067834  0.000054
1    216   27   189   13.0    0.065671   0.061364  0.067834  0.000292
4    351   43   308   29.0    0.107019   0.097727  0.090824  0.000844
7     22    2    20   41.0    0.006949   0.004545  0.424509  0.001020
10    39    2    37   23.0    0.012856   0.004545  1.039695  0.008641
IV score: 0.02


WoE and IV for column: NEW_EMPLOYMENT_BIN
      All   Bad    Good Value  Distr_Good  Distr_Bad       WoE        IV
2  259200  4114  255086     1    0.408495   0.476875 -0.154774  0.010583
0  345660  4198  341462     0    0.546818   0.486612  0.116649  0.007023
1   28220   315   27905    >1    0.044687   0.036513  0.202009  0.001651
IV score: 0.02


WoE and IV for column: CONTINUED_EMPLOYMENT_BIN
      All   Bad    Good Value  Distr_Good  Distr_Bad       WoE        IV
0  122240  1838  120402     1    0.192812   0.213052 -0.099821  0.002020
1  495720  6616  489104     0    0.783252   0.766895  0.021105  0.000345
2   15120   173   14947    >1    0.023936   0.020053  0.176995  0.000687
IV score: 0.00


WoE and IV for column: CHANGE_PREVIOUS_EMPLOYMENT_BIN
      All   Bad    Good Value  Distr_Good  Distr_Bad       WoE        IV
0  582319  8121  574198     0    0.919522   0.941347 -0.023458  0.000512
2    7878    88    7790    >1    0.012475   0.010201  0.201280  0.000458
1   42883   418   42465     1    0.068004   0.048453  0.338975  0.006627
IV score: 0.01


WoE and IV for column: NEW_CONCURRENT_EMP_BIN
      All   Bad    Good Value  Distr_Good  Distr_Bad       WoE        IV
1    2986    87    2899     1    0.004642   0.010085 -0.775766  0.004222
0  628179  8523  619656     0    0.992318   0.987945  0.004417  0.000019
2    1915    17    1898    >1    0.003039   0.001971  0.433363  0.000463
IV score: 0.00


WoE and IV for column: CHANGE_EMPLOYER_BIN
      All   Bad    Good Value  Distr_Good  Distr_Bad       WoE        IV
0  513453  7185  506268     0    0.810738   0.832850 -0.026909  0.000595
1  105685  1289  104396     1    0.167180   0.149415  0.112345  0.001996
2   13942   153   13789    >1    0.022082   0.017735  0.219209  0.000953
IV score: 0.00


WoE and IV for column: AMENDED_PETITION_BIN
      All   Bad    Good Value  Distr_Good  Distr_Bad       WoE        IV
0  527943  7774  520169     0    0.832999   0.901124 -0.078610  0.005355
2   17121   141   16980    >1    0.027192   0.016344  0.509052  0.005522
1   88016   712   87304     1    0.139809   0.082532  0.527094  0.030190
IV score: 0.04


WoE and IV for column: FULL_TIME_POSITION
      All   Bad    Good Value  Distr_Good  Distr_Bad       WoE        IV
1   12422   451   11971     N     0.01917   0.052302 -1.003668  0.033253
0  620654  8172  612482     Y     0.98083   0.947698  0.034363  0.001138
IV score: 0.03


WoE and IV for column: PW_UNIT_OF_PAY
      All   Bad    Good  Value  Distr_Good  Distr_Bad       WoE        IV
2     277    51     226  Month    0.000362   0.005952 -2.800075  0.015654
3      92    12      80   Week    0.000128   0.001401 -2.391664  0.003043
1   43048  1574   41474   Hour    0.066420   0.183707 -1.017338  0.119320
0  589568  6931  582637   Year    0.933090   0.808940  0.142776  0.017726
4       0     0       0    NaN    0.000000   0.000000       NaN       NaN
IV score: 0.16


WoE and IV for column: PW_WAGE_LEVEL
      All   Bad    Good      Value  Distr_Good  Distr_Bad       WoE        IV
3  107667  1838  105829    Level I    0.200075   0.304809 -0.420995  0.044093
1  107617  1241  106376  Level III    0.201109   0.205804 -0.023079  0.000108
0  319693  2951  316742   Level II    0.598816   0.489386  0.201802  0.022083
2       0     0       0        NaN    0.000000   0.000000       NaN       NaN
IV score: 0.07


WoE and IV for column: PW_SOURCE
      All   Bad    Good  Value  Distr_Good  Distr_Bad       WoE        IV
4      12     8       4    SCA    0.000006   0.000934 -4.982568  0.004623
1  110759  2668  108091  Other    0.173098   0.311573 -0.587776  0.081392
2    4274   101    4173    CBA    0.006683   0.011795 -0.568151  0.002905
0  517968  5786  512182    OES    0.820213   0.675698  0.193818  0.028010
3       0     0       0    NaN    0.000000   0.000000       NaN       NaN
IV score: 0.12


WoE and IV for column: WAGE_UNIT_OF_PAY
      All   Bad    Good  Value  Distr_Good  Distr_Bad       WoE        IV
2     474    90     384  Month    0.000615   0.010472 -2.834864  0.027944
4     145    26     119   Week    0.000191   0.003025 -2.764670  0.007837
1   42540  1320   41220   Hour    0.066017   0.153596 -0.844405  0.073951
0  589816  7158  582658   Year    0.933177   0.832907  0.113673  0.011398
3       0     0       0    NaN    0.000000   0.000000       NaN       NaN
IV score: 0.12


WoE and IV for column: H1B_DEPENDENT
      All   Bad    Good Value  Distr_Good  Distr_Bad       WoE        IV
0  398244  6552  391692     N     0.64037   0.851462 -0.284909  0.060142
1  221116  1143  219973     Y     0.35963   0.148538  0.884234  0.186655
IV score: 0.25


WoE and IV for column: WILLFUL_VIOLATOR
      All   Bad    Good Value  Distr_Good  Distr_Bad  WoE   IV
0  619067  7688  611379     N         1.0        1.0  0.0  0.0
1       0     0       0   NaN         0.0        0.0  NaN  NaN
IV score: 0.00


WoE and IV for column: SUPPORT_H1B
      All   Bad    Good Value  Distr_Good  Distr_Bad  WoE   IV
1  220118  1177  218941     Y         1.0        1.0  0.0  0.0
0       0     0       0   NaN         0.0        0.0  NaN  NaN
IV score: 0.00


WoE and IV for column: LABOR_CON_AGREE
      All   Bad    Good Value  Distr_Good  Distr_Bad  WoE   IV
1  222389  4228  218161     Y         1.0        1.0  0.0  0.0
0       0     0       0   NaN         0.0        0.0  NaN  NaN
IV score: 0.00


WoE and IV for column: WORKSITE_STATE
       All   Bad    Good Value  Distr_Good  Distr_Bad       WoE            IV
36     325    62     263    MP    0.000421   0.007194 -2.838000  1.922199e-02
40     221    14     207    MT    0.000331   0.001625 -1.589358  2.055065e-03
27     207    12     195    AK    0.000312   0.001392 -1.494927  1.614760e-03
51     150     8     142    PR    0.000227   0.000928 -1.406634  9.858957e-04
54      41     2      39    VI    0.000062   0.000232 -1.312605  2.226409e-04
12     980    41     939    NM    0.001504   0.004757 -1.151776  3.747608e-03
46     529    21     508    HI    0.000814   0.002437 -1.097061  1.780799e-03
39     267    10     257    GU    0.000412   0.001160 -1.036529  7.761533e-04
38    3230   100    3130    UT    0.005012   0.011604 -0.839402  5.532679e-03
41    1631    49    1582    NV    0.002533   0.005686 -0.808395  2.548343e-03
44     737    22     715    MS    0.001145   0.002553 -0.801780  1.128738e-03
43     482    12     470    ND    0.000753   0.001392 -0.615194  3.935846e-04
24    2683    65    2618    KS    0.004192   0.007542 -0.587241  1.967182e-03
55     425    10     415    VT    0.000665   0.001160 -0.557326  2.763103e-04
42     512    12     500    WV    0.000801   0.001392 -0.553318  3.274157e-04
49     651    15     636    ME    0.001018   0.001741 -0.535871  3.869251e-04
53     180     4     176    WY    0.000282   0.000464 -0.498830  9.093537e-05
28    1741    35    1706    LA    0.002732   0.004061 -0.396461  5.270029e-04
4     1850    37    1813    AL    0.002903   0.004293 -0.391200  5.437631e-04
10   56186  1105   55081    NY    0.088207   0.128220 -0.374060  1.496725e-02
31     877    16     861    ID    0.001379   0.001857 -0.297514  1.421427e-04
5    22421   392   22029    FL    0.035277   0.045486 -0.254167  2.594737e-03
37    4508    72    4436    OR    0.007104   0.008355 -0.162178  2.028463e-04
45    1830    29    1801    OK    0.002884   0.003365 -0.154218  7.416613e-05
32    4047    63    3984    DC    0.006380   0.007310 -0.136113  1.266227e-04
33    3096    47    3049    SC    0.004883   0.005454 -0.110598  6.315313e-05
6    10445   156   10289    MD    0.016477   0.018102 -0.094045  1.528022e-04
35    2211    33    2178    RI    0.003488   0.003829 -0.093365  3.186839e-05
1   124478  1825  122653    CA    0.196417   0.211766 -0.075241  1.154848e-03
25    7194   104    7090    CO    0.011354   0.012068 -0.060970  4.351996e-05
14   25213   357   24856    MA    0.039805   0.041425 -0.039901  6.465425e-05
17    6639    91    6548    IN    0.010486   0.010559 -0.006964  5.103757e-07
23   17989   246   17743    VA    0.028414   0.028545 -0.004605  6.039349e-07
48    2369    32    2337    NE    0.003742   0.003713  0.007868  2.307482e-07
29    2670    35    2635    KY    0.004220   0.004061  0.038271  6.063570e-06
2    62331   742   61589    TX    0.098629   0.086099  0.135869  1.702468e-03
15    9678   111    9567    AZ    0.015321   0.012880  0.173525  4.235117e-04
47     351     4     347    SD    0.000556   0.000464  0.180011  1.647876e-05
16   31004   353   30651    IL    0.049085   0.040961  0.180933  1.469886e-03
0    26360   297   26063    WA    0.041737   0.034463  0.191520  1.393252e-03
3     3763    42    3721    DE    0.005959   0.004874  0.201058  2.182113e-04
18   17877   199   17678    NC    0.028310   0.023091  0.203752  1.063270e-03
19   15407   170   15237    OH    0.024401   0.019726  0.212664  9.940920e-04
13   21037   225   20812    MI    0.033328   0.026108  0.244165  1.762950e-03
11   10431   110   10321    MN    0.016528   0.012764  0.258436  9.727873e-04
9    24989   259   24730    PA    0.039603   0.030053  0.275924  2.634916e-03
8    22582   231   22351    GA    0.035793   0.026804  0.289189  2.599425e-03
21    1592    16    1576    NH    0.002524   0.001857  0.307037  2.048665e-04
50    3313    33    3280    IA    0.005253   0.003829  0.316071  4.499020e-04
26    6474    64    6410    WI    0.010265   0.007426  0.323712  9.189202e-04
7    39292   382   38910    NJ    0.062311   0.044326  0.340566  6.125049e-03
20    8504    79    8425    MO    0.013492   0.009167  0.386491  1.671571e-03
30    7066    65    7001    TN    0.011211   0.007542  0.396401  1.454434e-03
34    8604    75    8529    CT    0.013658   0.008703  0.450719  2.233622e-03
22    3399    27    3372    AR    0.005400   0.003133  0.544405  1.234147e-03
52       0     0       0   NaN    0.000000   0.000000       NaN           NaN
IV score: 0.09


WoE and IV for column: Visa_duration_bin
      All   Bad    Good    Value  Distr_Good  Distr_Bad       WoE        IV
3      15    12       3   3+ yrs    0.000005   0.001391 -5.668274  0.007857
2   31732  1305   30427  1-2 yrs    0.048726   0.151269 -1.132852  0.116167
1   11478   449   11029     <1yr    0.017662   0.052046 -1.080719  0.037159
0  589855  6861  582994  2-3 yrs    0.933607   0.795294  0.160344  0.022178
IV score: 0.18


WoE and IV for column: EMPLOYER_NAME_BIN
      All   Bad    Good   Value  Distr_Good  Distr_Bad       WoE        IV
2  477241  7796  469445  Others    0.751770   0.903675 -0.184039  0.027956
5   35539   511   35028    Bin1    0.056094   0.059233 -0.054446  0.000171
1   28542   226   28316    Bin2    0.045345   0.026197  0.548668  0.010506
3   25382    62   25320    Bin3    0.040547   0.007187  1.730236  0.057722
4   33298    31   33267    Bin4    0.053274   0.003593  2.696355  0.133956
0   33078     1   33077    Bin5    0.052970   0.000116  6.124614  0.323708
IV score: 0.55


WoE and IV for column: EMPLOYER_CITY_BIN
      All   Bad    Good   Value  Distr_Good  Distr_Bad       WoE        IV
5   60932  1454   59478    Bin1    0.095248   0.168541 -0.570691  0.041827
3  194805  3926  190879  Others    0.305674   0.455083 -0.397961  0.059459
6   61555   831   60724    Bin2    0.097244   0.096325  0.009485  0.000009
7   64694   836   63858    Bin3    0.102262   0.096905  0.053809  0.000288
2   65431   669   64762    Bin4    0.103710   0.077547  0.290711  0.007606
1   63394   506   62888    Bin5    0.100709   0.058653  0.540595  0.022735
4   62741   299   62442    Bin6    0.099995   0.034659  1.059571  0.069228
0   59528   106   59422    Bin7    0.095158   0.012287  2.047001  0.169638
IV score: 0.37


WoE and IV for column: AGENT_ATTORNEY_CITY_BIN
      All   Bad    Good   Value  Distr_Good  Distr_Bad       WoE        IV
0  243237  4494  238743  Others    0.382323   0.520923 -0.309335  0.042874
4   87264  1455   85809    Bin1    0.137415   0.168657 -0.204861  0.006400
5   95295  1131   94164    Bin2    0.150794   0.131100  0.139956  0.002756
1   61126   605   60521    Bin3    0.096918   0.070129  0.323538  0.008668
2   96567   781   95786    Bin4    0.153392   0.090530  0.527317  0.033148
3   49591   161   49430    Bin5    0.079157   0.018662  1.444929  0.087411
IV score: 0.18


WoE and IV for column: AGENT_ATTORNEY_STATE_BIN
      All   Bad    Good   Value  Distr_Good  Distr_Bad       WoE        IV
2   78439  1441   76998    Bin1    0.123305   0.167034 -0.303537  0.013273
0  238402  3721  234681  Others    0.375819   0.431320 -0.137745  0.007645
3   87002  1110   85892    Bin2    0.137548   0.128666  0.066751  0.000593
5   81568   984   80584    Bin3    0.129047   0.114061  0.123450  0.001850
1   74087   762   73325    Bin4    0.117423   0.088327  0.284731  0.008284
4   73582   609   72973    Bin5    0.116859   0.070592  0.504047  0.023321
IV score: 0.05


WoE and IV for column: PREVAILING_WAGE_BIN
      All   Bad    Good Value  Distr_Good  Distr_Bad       WoE        IV
4    6372   504    5868  Bin1    0.009397   0.058421 -1.827286  0.089581
2    8608   288    8320  Bin2    0.013324   0.033384 -0.918522  0.018425
3   48715  1099   47616  Bin5    0.076252   0.127391 -0.513211  0.026245
1   54841  1083   53758  Bin3    0.086088   0.125536 -0.377222  0.014881
0  514544  5653  508891  Bin4    0.814939   0.655268  0.218068  0.034819
IV score: 0.18


WoE and IV for column: WORKSITE_CITY_BIN
      All   Bad    Good   Value  Distr_Good  Distr_Bad       WoE        IV
0  414459  6005  408454  Others    0.654099   0.696070 -0.062192  0.002610
3   62334   889   61445    Bin3    0.098398   0.103049 -0.046179  0.000215
4   24908   319   24589    Bin1    0.039377   0.036977  0.062884  0.000151
2   69198   773   68425    Bin4    0.109576   0.089602  0.201235  0.004019
1   62181   641   61540    Bin2    0.098550   0.074302  0.282434  0.006849
IV score: 0.01


WoE and IV for column: NAICS_CODE_BIN
      All   Bad    Good   Value  Distr_Good  Distr_Bad       WoE        IV
0  181155  4149  177006  Others    0.283458   0.480932 -0.528663  0.104397
1  123352  1877  121475    Bin1    0.194530   0.217573 -0.111946  0.002580
3  114557  1074  113483    Bin2    0.181732   0.124493  0.378284  0.021653
2  214016  1527  212489    Bin3    0.340280   0.177002  0.653606  0.106719
IV score: 0.24


WoE and IV for column: WORKSITE_COUNTY_BIN
      All   Bad    Good   Value  Distr_Good  Distr_Bad       WoE        IV
1  259295  4434  254861  Others    0.408135   0.513968 -0.230563  0.024401
3   62854  1030   61824    Bin4    0.099005   0.119393 -0.187246  0.003817
0  111491  1209  110282    Bin1    0.176606   0.140141  0.231268  0.008433
2  129027  1280  127747    Bin3    0.204574   0.148371  0.321212  0.018053
4   70413   674   69739    Bin2    0.111680   0.078127  0.357306  0.011989
IV score: 0.07


WoE and IV for column: WORKSITE_STATE_BIN
      All   Bad    Good   Value  Distr_Good  Distr_Bad       WoE        IV
7   56186  1105   55081    Bin3    0.088207   0.128086 -0.373020  0.014876
1  124478  1825  122653    Bin1    0.196417   0.211545 -0.074200  0.001123
4   45003   623   44380    Bin7    0.071070   0.072215 -0.015982  0.000018
3  198224  2684  195540  Others    0.313138   0.311116  0.006477  0.000013
6   50202   616   49586    bin6    0.079407   0.071404  0.106238  0.000850
2   62331   742   61589    Bin2    0.098629   0.086009  0.136910  0.001728
0   57364   650   56714    bin5    0.090822   0.075345  0.186825  0.002891
5   39292   382   38910    bin4    0.062311   0.044280  0.341607  0.006159
IV score: 0.03

In [171]:
pd.crosstab(data['SOC_REVISED_CODE'], data['Target'])

Target             0.0  1.0
SOC_REVISED_CODE
11.0                35    5
13.0               189   27
15.0              1599  250
17.0               258   39
19.0               158   24
20.0               140   23
21.0                 2    0
23.0                37    2
25.0                83   14
27.0                31    7
29.0               308   43
31.0                 1    1
35.0                 1    0
41.0                20    2
43.0                 6    2
45.0                 2    1
47.0                 3    0
49.0                 2    0
51.0                 2    0
53.0                 1    0