In [280]:
import pandas as pd
import seaborn as sns
import numpy as np

In [281]:
df=pd.read_csv('H1Bprocessed.csv')

C:\Users\varun\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (16,17,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [282]:
dfwage=pd.read_csv('H1Bprocessed.csv')

In [283]:
df = df.filter(['EMPLOYER_NAME_BIN' ,                      
'EMPLOYER_CITY_BIN',                       
'H1B_DEPENDENT',                           
'NAICS_CODE_BIN',                          
'Visa_duration_bin',                  
'AGENT_ATTORNEY_CITY_BIN',                 
'PREVAILING_WAGE_BIN',                     
'SOC_REVISED_CODE',                      
'PW_UNIT_OF_PAY',                         
'PW_SOURCE',                              
'WAGE_UNIT_OF_PAY',                     
'EMPLOYER_STATE_BIN',                       
'WORKSITE_STATE' ,                         
'PW_WAGE_LEVEL',                           
'WORKSITE_COUNTY_BIN',
'AGENT_ATTORNEY_STATE_BIN',                
'AMENDED_PETITION_BIN',
'AGENT_REPRESENTING_EMPLOYER',             
'FULL_TIME_POSITION',                      
'WORKSITE_STATE_BIN',
'NEW_EMPLOYMENT_BIN' ,                          
'CHANGE_PREVIOUS_EMPLOYMENT_BIN',               
'WORKSITE_CITY_BIN','Target','JOB_TITLE' 
], axis=1)

In [284]:
df

,EMPLOYER_NAME_BIN,EMPLOYER_CITY_BIN,H1B_DEPENDENT,NAICS_CODE_BIN,Visa_duration_bin,AGENT_ATTORNEY_CITY_BIN,PREVAILING_WAGE_BIN,SOC_REVISED_CODE,PW_UNIT_OF_PAY,PW_SOURCE,...,AGENT_ATTORNEY_STATE_BIN,AMENDED_PETITION_BIN,AGENT_REPRESENTING_EMPLOYER,FULL_TIME_POSITION,WORKSITE_STATE_BIN,NEW_EMPLOYMENT_BIN,CHANGE_PREVIOUS_EMPLOYMENT_BIN,WORKSITE_CITY_BIN,Target,JOB_TITLE
0,Bin5,Bin7,N,Others,2-3 yrs,Others,Bin4,15,Year,OES,...,Others,0,N,Y,bin5,0,0,Others,0.0,SOFTWARE ENGINEER
1,Bin2,Bin5,N,Bin1,2-3 yrs,Bin3,Bin4,13,Year,OES,...,Others,0,Y,Y,Bin1,0,0,Others,0.0,TAX SENIOR
2,Others,Bin5,N,Bin3,2-3 yrs,Others,Bin4,15,Year,OES,...,Others,0,N,Y,Bin2,0,0,Bin2,0.0,DATABASE ADMINISTRATOR
3,Bin5,Bin7,Y,Bin3,2-3 yrs,Bin4,Bin4,15,Year,OES,...,Others,0,Y,Y,Others,>1,0,Others,0.0,SOFTWARE ENGINEER
4,Others,Bin7,Y,Bin3,2-3 yrs,Bin5,Bin4,15,Year,OES,...,Bin4,1,Y,Y,Others,0,0,Bin4,0.0,MICROSOFT DYNAMICS CRM APPLICATION DEVELOPER
5,Others,Bin5,Y,Bin3,2-3 yrs,Bin1,Bin4,15,Year,Other,...,Bin1,1,Y,Y,Bin7,0,0,Others,0.0,SENIOR SYSTEM ARCHITECT
6,Others,Bin4,Y,Bin3,<1yr,Others,Bin4,15,Year,Other,...,Others,0,N,Y,Bin7,0,0,Bin3,0.0,SENIOR ORACLE ADF DEVELOPER
7,Bin5,Bin7,Y,Bin2,2-3 yrs,Others,Bin4,15,Year,OES,...,Others,0,N,Y,Others,0,0,Others,0.0,SENIOR SYSTEMS ANALYST JC60
8,Others,Bin4,NaN,Bin3,1-2 yrs,Others,Bin4,15,Year,OES,...,Others,0,N,Y,bin4,0,0,Bin3,0.0,ASSOCIATE PRODUCT MANAGER(15-1199.09)
9,Others,Bin5,Y,Bin3,2-3 yrs,Bin4,Bin4,15,Year,OES,...,Bin4,0,Y,Y,Bin7,0,0,Bin3,0.0,SENIOR JAVA DEVELOPER
10,Others,Bin4,Y,Bin3,2-3 yrs,Others,Bin4,15,Year,OES,...,Others,0,N,Y,Bin1,0,1,Others,0.0,SOFTWARE DEVELOPER
11,Others,Others,N,Others,2-3 yrs,Bin4,Bin4,17,Year,OES,...,Bin2,0,Y,Y,bin6,0,1,Others,0.0,GLOBAL MMA ADVANCED ENGINEER
12,Bin3,Bin6,Y,Bin3,2-3 yrs,Bin4,Bin4,15,Year,OES,...,Others,0,Y,Y,Bin3,0,0,Bin4,0.0,TECHNICAL CONSULTANT
13,Bin4,Bin7,Y,Bin3,2-3 yrs,Others,Bin4,15,Year,OES,...,Others,0,N,Y,Others,1,0,Others,0.0,ENGINEER
14,Others,Others,N,Others,2-3 yrs,Others,Bin4,15,Hour,OES,...,Others,0,N,Y,Others,1,0,Others,0.0,BUSINESS ANALYST
15,Bin4,Bin7,Y,Bin3,2-3 yrs,Others,Bin4,15,Year,OES,...,Others,0,N,Y,Others,1,0,Others,0.0,SOLUTIONS ARCHITECT
16,Others,Bin5,N,Others,2-3 yrs,Bin4,Bin4,15,Year,Other,...,Bin1,0,Y,Y,Bin2,1,0,Bin2,0.0,MEMBER TECHNICAL STAFF CONSULTANT-SYSTEMS ENGI...
17,Others,Bin1,N,Others,2-3 yrs,Others,Bin3,13,Year,Other,...,Bin5,0,Y,Y,bin6,0,0,Bin2,0.0,BUSINESS DEVELOPMENT SPECIALIST
18,Others,Others,N,Bin2,2-3 yrs,Others,Bin2,13,Hour,OES,...,Bin3,0,Y,N,Bin1,1,0,Others,0.0,MARKET ANALYST
19,Others,Bin2,N,Others,2-3 yrs,Bin2,Bin3,17,Hour,OES,...,Bin3,0,Y,Y,Others,1,0,Others,1.0,VC CONSTRUCTION FIELD ENGINEER
20,Others,Others,N,Bin1,2-3 yrs,Bin4,Bin4,19,Year,Other,...,Bin3,0,Y,Y,Bin1,1,0,Others,0.0,RESEARCH ASSOCIATE I
21,Others,Others,N,Others,2-3 yrs,Bin1,Bin4,13,Year,Other,...,Bin4,0,Y,Y,bin4,1,0,Bin3,0.0,FINANCIAL ANALYST
22,Others,Bin2,N,Bin1,2-3 yrs,Bin1,Bin5,15,Year,Other,...,Bin1,0,Y,Y,Bin1,1,0,Others,0.0,SR. SOFTWARE ENGINEER
23,Others,Bin6,N,Others,2-3 yrs,Bin4,Bin4,15,Year,Other,...,Bin3,0,Y,Y,Bin1,1,0,Others,0.0,MEMBER OF TECHNICAL STAFF (SOFTWARE ENGINEER)
24,Others,Bin3,N,Bin1,2-3 yrs,Bin2,Bin4,19,Year,Other,...,Bin3,>1,Y,Y,Bin1,>1,>1,Others,0.0,FINANCE MANAGER
25,Others,Bin6,Y,Bin3,2-3 yrs,Bin4,Bin4,15,Year,OES,...,Bin4,>1,Y,Y,bin5,>1,>1,Bin1,1.0,SYSTEMS ANALYST
26,Others,Bin4,N,Others,2-3 yrs,Bin4,Bin4,15,Year,OES,...,Bin5,0,Y,Y,Others,>1,0,Bin3,1.0,FUNCTIONAL EXCELLENCE SPECIALIST - PURCHASING
27,Bin1,Bin1,N,Bin3,2-3 yrs,Bin1,Bin4,15,Year,Other,...,Bin1,0,Y,Y,Others,1,0,Bin2,0.0,APPLICATION SOFTWARE DEVELOPMENT CONSULTANT
28,Others,Bin1,N,Bin2,2-3 yrs,Bin2,Bin3,13,Year,Other,...,Bin2,0,Y,Y,bin4,1,0,Bin3,0.0,REGULATORY REPORTING ACCOUNTANT II
29,Bin1,Bin2,N,Bin2,2-3 yrs,Bin1,Bin4,15,Year,Other,...,Bin1,0,Y,Y,Bin1,1,0,Others,0.0,SOFTWARE ENGINEER (1615.33573)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633050,Others,Bin5,Y,Bin3,2-3 yrs,Bin1,Bin4,NaN,Year,OES,...,Bin1,0,Y,Y,Bin2,0,0,Bin2,0.0,MANUAL TEST LEAD
633051,Others,Bin2,N,Others,2-3 yrs,Bin2,Bin4,NaN,Year,OES,...,Bin2,0,Y,Y,bin5,0,0,Bin1,0.0,IT SUPPORT LEAD II
633052,Others,Bin7,Y,Bin3,2-3 yrs,Others,Bin4,NaN,Hour,OES,...,Others,1,N,Y,Bin7,1,1,Bin3,0.0,SENIOR SOFTWARE DEVELOPER
633053,Bin4,Bin6,Y,Bin3,2-3 yrs,Others,Bin4,NaN,Year,OES,...,Others,1,N,Y,Others,0,0,Others,0.0,PROJECT LEAD
633054,Others,Others,N,Bin2,2-3 yrs,Others,Bin4,NaN,Year,OES,...,Others,0,Y,Y,Others,1,0,Bin4,0.0,SENIOR SYSTEMS ANALYST
633055,Others,Bin1,N,Bin3,2-3 yrs,Others,Bin3,NaN,Year,OES,...,Bin4,0,Y,Y,Bin3,1,0,Others,0.0,HEALTH INFORMATION EXCHANGE (HIE) ANALYST
633056,Bin2,Bin4,N,Bin2,1-2 yrs,Others,Bin4,NaN,Year,OES,...,Others,0,N,Y,Others,0,0,Others,0.0,TEST LEAD
633057,Bin1,Bin4,N,Bin1,2-3 yrs,Bin3,Bin4,NaN,Year,OES,...,Others,0,Y,Y,Others,0,0,Bin2,0.0,MANAGER
633058,Others,Bin3,N,Bin1,2-3 yrs,Bin5,Bin5,NaN,Year,OES,...,Bin4,0,Y,Y,Others,0,1,Others,0.0,PHYSICIAN (INTERNAL MEDICINE/RHEUMATOLOGY)
633059,Bin2,Bin3,N,Bin2,2-3 yrs,Bin3,Bin4,NaN,Year,OES,...,Bin5,0,Y,Y,bin5,0,0,Others,0.0,SOFTWARE DEVELOPMENT ENGINEER I
633060,Bin4,Bin7,Y,Bin3,2-3 yrs,Bin4,Bin3,NaN,Year,OES,...,Bin4,0,Y,Y,Bin2,0,0,Others,0.0,DEVELOPER USER INTERFACE
633061,Others,Bin1,N,Bin2,2-3 yrs,Bin4,Bin4,NaN,Year,OES,...,Others,0,Y,Y,Others,1,0,Bin3,0.0,SOFTWARE ENGINEER II
633062,Bin5,Bin7,Y,Bin2,2-3 yrs,Others,Bin4,NaN,Year,OES,...,Others,0,N,Y,Others,1,0,Others,0.0,SENIOR SYSTEMS ANALYST JC60
633063,Others,Bin7,N,Others,2-3 yrs,Bin1,Bin2,NaN,Year,Other,...,Bin1,0,Y,Y,Bin2,1,0,Others,0.0,SCHOLARSHIP PROGRAM COORDINATOR
633064,Others,Bin4,N,Others,2-3 yrs,Bin4,Bin4,NaN,Year,OES,...,Bin2,0,Y,Y,bin6,0,0,Others,0.0,SENIOR IT APPLICATION ANALYST
633065,Others,Others,N,Others,2-3 yrs,Bin2,Bin3,NaN,Year,OES,...,Bin2,0,Y,Y,Bin1,1,0,Others,0.0,GRAPHIC DESIGNER
633066,Others,Bin5,Y,Bin3,2-3 yrs,Others,Bin4,NaN,Year,Other,...,Others,1,N,Y,Bin3,0,0,Others,0.0,PROGRAMMER ANALYST
633067,Others,Others,Y,Bin3,2-3 yrs,Bin5,Bin4,NaN,Year,OES,...,Bin5,1,Y,Y,Others,0,0,Others,0.0,ETL/BIG DATA ANALYST
633068,Bin4,Bin7,Y,Bin3,2-3 yrs,Others,Bin4,NaN,Year,OES,...,Others,0,N,Y,Others,1,0,Bin4,0.0,DEVELOPER
633069,Others,Bin6,Y,Bin2,2-3 yrs,Bin5,Bin4,NaN,Year,OES,...,Bin4,1,Y,Y,Bin7,0,0,Bin3,0.0,SYSTEMS ENGINEER
633070,Others,Bin5,N,Bin3,2-3 yrs,Bin5,Bin3,NaN,Year,OES,...,Bin4,1,Y,Y,Others,0,0,Others,0.0,HUMAN RESOURCES GENERALIST/RECRUITER
633071,Bin2,Bin6,Y,Bin3,2-3 yrs,Others,Bin4,NaN,Year,Other,...,Others,1,N,Y,Others,0,0,Bin3,0.0,BUSINESS ANALYST
633072,Bin5,Bin6,Y,Bin3,2-3 yrs,Others,Bin5,NaN,Year,OES,...,Others,1,N,Y,Others,0,0,Others,0.0,PRINCIPAL CONSULTANT - US - PRACTITIONER
633073,Bin2,Others,Y,Bin3,2-3 yrs,Bin4,Bin4,NaN,Year,Other,...,Bin5,1,Y,Y,Others,0,0,Bin4,0.0,COMPUTER SYSTEMS ENGINEER 1
633074,Others,Bin1,N,Bin2,2-3 yrs,Others,Bin4,NaN,Year,Other,...,Others,0,N,Y,Bin3,1,0,Others,0.0,SOFTWARE ENGINEER
633075,Others,Bin5,Y,Bin1,2-3 yrs,Others,Bin4,NaN,Year,OES,...,Others,0,N,Y,Bin2,1,0,Bin2,0.0,ASSOCIATE SOFTWARE ENGINEER
633076,Others,Others,N,Others,2-3 yrs,Bin4,Bin4,NaN,Year,OES,...,Bin5,0,Y,Y,Others,1,0,Others,0.0,MANAGER GLOBAL SUPPLY CHAIN BUSINESS ANALYTICS
633077,Others,Others,NaN,Others,<1yr,Bin1,Bin4,NaN,Year,OES,...,Bin1,0,Y,Y,Bin7,1,0,Others,0.0,BUSINESS RESEARCH AND DEVELOPMENT
633078,Bin2,Bin4,N,Bin2,1-2 yrs,Others,Bin4,NaN,Year,OES,...,Others,0,N,Y,Others,1,0,Bin4,0.0,PACKAGE SOLUTION CONSULTANT
633079,Bin5,Bin7,N,Others,2-3 yrs,Others,Bin5,NaN,Year,OES,...,Others,0,N,Y,bin5,1,0,Others,0.0,SOFTWARE ENGINEER

In [285]:
df.loc[df.AGENT_REPRESENTING_EMPLOYER == 'N', 'AGENT_ATTORNEY_CITY_BIN'] = "None"

In [286]:
df.loc[df.AGENT_REPRESENTING_EMPLOYER == 'N', 'AGENT_ATTORNEY_STATE_BIN'] = "None"

In [287]:
df.head()

,EMPLOYER_NAME_BIN,EMPLOYER_CITY_BIN,H1B_DEPENDENT,NAICS_CODE_BIN,Visa_duration_bin,AGENT_ATTORNEY_CITY_BIN,PREVAILING_WAGE_BIN,SOC_REVISED_CODE,PW_UNIT_OF_PAY,PW_SOURCE,...,AGENT_ATTORNEY_STATE_BIN,AMENDED_PETITION_BIN,AGENT_REPRESENTING_EMPLOYER,FULL_TIME_POSITION,WORKSITE_STATE_BIN,NEW_EMPLOYMENT_BIN,CHANGE_PREVIOUS_EMPLOYMENT_BIN,WORKSITE_CITY_BIN,Target,JOB_TITLE
0,Bin5,Bin7,N,Others,2-3 yrs,None,Bin4,15,Year,OES,...,None,0,N,Y,bin5,0,0,Others,0.0,SOFTWARE ENGINEER
1,Bin2,Bin5,N,Bin1,2-3 yrs,Bin3,Bin4,13,Year,OES,...,Others,0,Y,Y,Bin1,0,0,Others,0.0,TAX SENIOR
2,Others,Bin5,N,Bin3,2-3 yrs,None,Bin4,15,Year,OES,...,None,0,N,Y,Bin2,0,0,Bin2,0.0,DATABASE ADMINISTRATOR
3,Bin5,Bin7,Y,Bin3,2-3 yrs,Bin4,Bin4,15,Year,OES,...,Others,0,Y,Y,Others,>1,0,Others,0.0,SOFTWARE ENGINEER
4,Others,Bin7,Y,Bin3,2-3 yrs,Bin5,Bin4,15,Year,OES,...,Bin4,1,Y,Y,Others,0,0,Bin4,0.0,MICROSOFT DYNAMICS CRM APPLICATION DEVELOPER

In [288]:
df.loc[df.WORKSITE_STATE_BIN == 'bin4', 'WORKSITE_STATE_BIN'] = "Bin4"
df.loc[df.WORKSITE_STATE_BIN == 'bin5', 'WORKSITE_STATE_BIN'] = "Bin5"
df.loc[df.WORKSITE_STATE_BIN == 'bin6', 'WORKSITE_STATE_BIN'] = "Bin6"

In [289]:
df.head(10)

,EMPLOYER_NAME_BIN,EMPLOYER_CITY_BIN,H1B_DEPENDENT,NAICS_CODE_BIN,Visa_duration_bin,AGENT_ATTORNEY_CITY_BIN,PREVAILING_WAGE_BIN,SOC_REVISED_CODE,PW_UNIT_OF_PAY,PW_SOURCE,...,AGENT_ATTORNEY_STATE_BIN,AMENDED_PETITION_BIN,AGENT_REPRESENTING_EMPLOYER,FULL_TIME_POSITION,WORKSITE_STATE_BIN,NEW_EMPLOYMENT_BIN,CHANGE_PREVIOUS_EMPLOYMENT_BIN,WORKSITE_CITY_BIN,Target,JOB_TITLE
0,Bin5,Bin7,N,Others,2-3 yrs,None,Bin4,15,Year,OES,...,None,0,N,Y,Bin5,0,0,Others,0.0,SOFTWARE ENGINEER
1,Bin2,Bin5,N,Bin1,2-3 yrs,Bin3,Bin4,13,Year,OES,...,Others,0,Y,Y,Bin1,0,0,Others,0.0,TAX SENIOR
2,Others,Bin5,N,Bin3,2-3 yrs,None,Bin4,15,Year,OES,...,None,0,N,Y,Bin2,0,0,Bin2,0.0,DATABASE ADMINISTRATOR
3,Bin5,Bin7,Y,Bin3,2-3 yrs,Bin4,Bin4,15,Year,OES,...,Others,0,Y,Y,Others,>1,0,Others,0.0,SOFTWARE ENGINEER
4,Others,Bin7,Y,Bin3,2-3 yrs,Bin5,Bin4,15,Year,OES,...,Bin4,1,Y,Y,Others,0,0,Bin4,0.0,MICROSOFT DYNAMICS CRM APPLICATION DEVELOPER
5,Others,Bin5,Y,Bin3,2-3 yrs,Bin1,Bin4,15,Year,Other,...,Bin1,1,Y,Y,Bin7,0,0,Others,0.0,SENIOR SYSTEM ARCHITECT
6,Others,Bin4,Y,Bin3,<1yr,None,Bin4,15,Year,Other,...,None,0,N,Y,Bin7,0,0,Bin3,0.0,SENIOR ORACLE ADF DEVELOPER
7,Bin5,Bin7,Y,Bin2,2-3 yrs,None,Bin4,15,Year,OES,...,None,0,N,Y,Others,0,0,Others,0.0,SENIOR SYSTEMS ANALYST JC60
8,Others,Bin4,NaN,Bin3,1-2 yrs,None,Bin4,15,Year,OES,...,None,0,N,Y,Bin4,0,0,Bin3,0.0,ASSOCIATE PRODUCT MANAGER(15-1199.09)
9,Others,Bin5,Y,Bin3,2-3 yrs,Bin4,Bin4,15,Year,OES,...,Bin4,0,Y,Y,Bin7,0,0,Bin3,0.0,SENIOR JAVA DEVELOPER

In [290]:
df.loc[df.EMPLOYER_STATE_BIN == 'bin4', 'EMPLOYER_STATE_BIN'] = "Bin4"
df.loc[df.EMPLOYER_STATE_BIN == 'bin5', 'EMPLOYER_STATE_BIN'] = "Bin5"
df.loc[df.EMPLOYER_STATE_BIN == 'bin6', 'EMPLOYER_STATE_BIN'] = "Bin6"

In [291]:
def num_missing(x):
  return sum(x.isnull())

#Applying per column:
print("Missing values per column:")
print(df.apply(num_missing, axis=0)) #axis=0 defines that function is to be applied on each column

Missing values per column:
EMPLOYER_NAME_BIN                     0
EMPLOYER_CITY_BIN                     0
H1B_DEPENDENT                     13720
NAICS_CODE_BIN                        0
Visa_duration_bin                     0
AGENT_ATTORNEY_CITY_BIN               0
PREVAILING_WAGE_BIN                   0
SOC_REVISED_CODE                  20578
PW_UNIT_OF_PAY                       51
PW_SOURCE                            49
WAGE_UNIT_OF_PAY                     10
EMPLOYER_STATE_BIN                    0
WORKSITE_STATE                       10
PW_WAGE_LEVEL                     37318
WORKSITE_COUNTY_BIN                   0
AGENT_ATTORNEY_STATE_BIN              0
AMENDED_PETITION_BIN                  0
AGENT_REPRESENTING_EMPLOYER          16
FULL_TIME_POSITION                    4
WORKSITE_STATE_BIN                    0
NEW_EMPLOYMENT_BIN                    0
CHANGE_PREVIOUS_EMPLOYMENT_BIN        0
WORKSITE_CITY_BIN                     0
Target                                0
JOB_TITLE                             2
dtype: int64

In [292]:
df.head()

,EMPLOYER_NAME_BIN,EMPLOYER_CITY_BIN,H1B_DEPENDENT,NAICS_CODE_BIN,Visa_duration_bin,AGENT_ATTORNEY_CITY_BIN,PREVAILING_WAGE_BIN,SOC_REVISED_CODE,PW_UNIT_OF_PAY,PW_SOURCE,...,AGENT_ATTORNEY_STATE_BIN,AMENDED_PETITION_BIN,AGENT_REPRESENTING_EMPLOYER,FULL_TIME_POSITION,WORKSITE_STATE_BIN,NEW_EMPLOYMENT_BIN,CHANGE_PREVIOUS_EMPLOYMENT_BIN,WORKSITE_CITY_BIN,Target,JOB_TITLE
0,Bin5,Bin7,N,Others,2-3 yrs,None,Bin4,15,Year,OES,...,None,0,N,Y,Bin5,0,0,Others,0.0,SOFTWARE ENGINEER
1,Bin2,Bin5,N,Bin1,2-3 yrs,Bin3,Bin4,13,Year,OES,...,Others,0,Y,Y,Bin1,0,0,Others,0.0,TAX SENIOR
2,Others,Bin5,N,Bin3,2-3 yrs,None,Bin4,15,Year,OES,...,None,0,N,Y,Bin2,0,0,Bin2,0.0,DATABASE ADMINISTRATOR
3,Bin5,Bin7,Y,Bin3,2-3 yrs,Bin4,Bin4,15,Year,OES,...,Others,0,Y,Y,Others,>1,0,Others,0.0,SOFTWARE ENGINEER
4,Others,Bin7,Y,Bin3,2-3 yrs,Bin5,Bin4,15,Year,OES,...,Bin4,1,Y,Y,Others,0,0,Bin4,0.0,MICROSOFT DYNAMICS CRM APPLICATION DEVELOPER

In [293]:
df['H1B_DEPENDENT'].value_counts()

N    398244
Y    221116
Name: H1B_DEPENDENT, dtype: int64

In [294]:
#fill missing values with mode 
df['H1B_DEPENDENT']=df['H1B_DEPENDENT'].fillna('N')
df.head(10)

,EMPLOYER_NAME_BIN,EMPLOYER_CITY_BIN,H1B_DEPENDENT,NAICS_CODE_BIN,Visa_duration_bin,AGENT_ATTORNEY_CITY_BIN,PREVAILING_WAGE_BIN,SOC_REVISED_CODE,PW_UNIT_OF_PAY,PW_SOURCE,...,AGENT_ATTORNEY_STATE_BIN,AMENDED_PETITION_BIN,AGENT_REPRESENTING_EMPLOYER,FULL_TIME_POSITION,WORKSITE_STATE_BIN,NEW_EMPLOYMENT_BIN,CHANGE_PREVIOUS_EMPLOYMENT_BIN,WORKSITE_CITY_BIN,Target,JOB_TITLE
0,Bin5,Bin7,N,Others,2-3 yrs,None,Bin4,15,Year,OES,...,None,0,N,Y,Bin5,0,0,Others,0.0,SOFTWARE ENGINEER
1,Bin2,Bin5,N,Bin1,2-3 yrs,Bin3,Bin4,13,Year,OES,...,Others,0,Y,Y,Bin1,0,0,Others,0.0,TAX SENIOR
2,Others,Bin5,N,Bin3,2-3 yrs,None,Bin4,15,Year,OES,...,None,0,N,Y,Bin2,0,0,Bin2,0.0,DATABASE ADMINISTRATOR
3,Bin5,Bin7,Y,Bin3,2-3 yrs,Bin4,Bin4,15,Year,OES,...,Others,0,Y,Y,Others,>1,0,Others,0.0,SOFTWARE ENGINEER
4,Others,Bin7,Y,Bin3,2-3 yrs,Bin5,Bin4,15,Year,OES,...,Bin4,1,Y,Y,Others,0,0,Bin4,0.0,MICROSOFT DYNAMICS CRM APPLICATION DEVELOPER
5,Others,Bin5,Y,Bin3,2-3 yrs,Bin1,Bin4,15,Year,Other,...,Bin1,1,Y,Y,Bin7,0,0,Others,0.0,SENIOR SYSTEM ARCHITECT
6,Others,Bin4,Y,Bin3,<1yr,None,Bin4,15,Year,Other,...,None,0,N,Y,Bin7,0,0,Bin3,0.0,SENIOR ORACLE ADF DEVELOPER
7,Bin5,Bin7,Y,Bin2,2-3 yrs,None,Bin4,15,Year,OES,...,None,0,N,Y,Others,0,0,Others,0.0,SENIOR SYSTEMS ANALYST JC60
8,Others,Bin4,N,Bin3,1-2 yrs,None,Bin4,15,Year,OES,...,None,0,N,Y,Bin4,0,0,Bin3,0.0,ASSOCIATE PRODUCT MANAGER(15-1199.09)
9,Others,Bin5,Y,Bin3,2-3 yrs,Bin4,Bin4,15,Year,OES,...,Bin4,0,Y,Y,Bin7,0,0,Bin3,0.0,SENIOR JAVA DEVELOPER

In [295]:
df['PW_WAGE_LEVEL'].value_counts()

Level II     319693
Level I      107667
Level III    107617
Level IV      60785
Name: PW_WAGE_LEVEL, dtype: int64

In [296]:
dfwage = dfwage[['PREVAILING_WAGE', 'PW_WAGE_LEVEL']].copy()
dfwage.head()

   PREVAILING_WAGE PW_WAGE_LEVEL
0         112549.0      Level II
1          79976.0      Level II
2          77792.0      Level II
3          84406.0      Level II
4          87714.0     Level III

In [297]:
dfwagemissing=dfwage[dfwage.isnull().any(axis=1)]
dfwagemissing

        PREVAILING_WAGE PW_WAGE_LEVEL
16              81780.0           NaN
17              50700.0           NaN
20              67879.0           NaN
21              58597.0           NaN
22             126539.0           NaN
23             110287.0           NaN
24             123363.0           NaN
27              75717.0           NaN
28              53000.0           NaN
29             125000.0           NaN
30             116802.0           NaN
32             116802.0           NaN
33              66563.0           NaN
34             112235.0           NaN
37             140376.0           NaN
38              79280.0           NaN
39             106983.0           NaN
45              87300.0           NaN
59              99939.0           NaN
60             103200.0           NaN
61             112536.0           NaN
62             104300.0           NaN
65             111920.0           NaN
83             149782.0           NaN
84             136423.0           NaN
85             110928.0           NaN
87              87993.0           NaN
89             160196.0           NaN
90              86300.0           NaN
91              67100.0           NaN
...                 ...           ...
628450          59705.0           NaN
628633          48432.0           NaN
628904          39229.0           NaN
628952         197780.0           NaN
629057          48216.0           NaN
629156          71004.0           NaN
629246          62247.0           NaN
629316         104400.0           NaN
629385          45000.0           NaN
629476          56250.0           NaN
629662          35360.0           NaN
629753          39229.0           NaN
630076          41600.0           NaN
630138          57084.0           NaN
630209          76960.0           NaN
630615          75924.0           NaN
630911          68124.0           NaN
630923          46725.0           NaN
631003          49920.0           NaN
631030          76960.0           NaN
631116          60320.0           NaN
631161          70192.0           NaN
631181          69822.0           NaN
631345          38334.0           NaN
631667          50242.0           NaN
632211          52000.0           NaN
632430          80813.0           NaN
632471         129856.0           NaN
632745          56618.0           NaN
632747          35702.0           NaN

[37320 rows x 2 columns]

In [298]:
dfwagemissing['PW_WAGE_LEVEL']=dfwagemissing['PW_WAGE_LEVEL'].fillna('N')
dfwagemissing.head()

C:\Users\varun\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

    PREVAILING_WAGE PW_WAGE_LEVEL
16          81780.0             N
17          50700.0             N
20          67879.0             N
21          58597.0             N
22         126539.0             N

In [299]:
dfwage=dfwage.dropna()
dfwage.shape

(595760, 2)

In [300]:
dfwage.isna().sum()

PREVAILING_WAGE    0
PW_WAGE_LEVEL      0
dtype: int64

In [301]:
dfwagemissing.isna().sum()

PREVAILING_WAGE    3
PW_WAGE_LEVEL      0
dtype: int64

In [302]:
from sklearn.naive_bayes import GaussianNB
Xtrain=dfwage[['PREVAILING_WAGE']]
Ytrain=dfwage[['PW_WAGE_LEVEL']]
Xtest=dfwagemissing[['PREVAILING_WAGE']]
Xtest=Xtest.fillna(Xtest.mean())
clf = GaussianNB().fit(Xtrain, Ytrain)
Ytest= clf.predict(Xtest) 
print ("Predicted Value:", Ytest)

C:\Users\varun\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Predicted Value: ['Level II' 'Level I' 'Level II' ... 'Level III' 'Level II' 'Level I']

In [303]:
set(Ytest)

{'Level I', 'Level II', 'Level III', 'Level IV'}

In [304]:
len(Ytest)

37320

In [305]:
dfwagemissing.shape

(37320, 2)

In [306]:
Xtest['FILLED_VALUE'] = Ytest.tolist()
Xtest

        PREVAILING_WAGE FILLED_VALUE
16              81780.0     Level II
17              50700.0      Level I
20              67879.0     Level II
21              58597.0     Level II
22             126539.0    Level III
23             110287.0     Level II
24             123363.0    Level III
27              75717.0     Level II
28              53000.0     Level II
29             125000.0    Level III
30             116802.0    Level III
32             116802.0    Level III
33              66563.0     Level II
34             112235.0     Level II
37             140376.0     Level IV
38              79280.0     Level II
39             106983.0     Level II
45              87300.0     Level II
59              99939.0     Level II
60             103200.0     Level II
61             112536.0     Level II
62             104300.0     Level II
65             111920.0     Level II
83             149782.0     Level IV
84             136423.0    Level III
85             110928.0     Level II
87              87993.0     Level II
89             160196.0     Level IV
90              86300.0     Level II
91              67100.0     Level II
...                 ...          ...
628450          59705.0     Level II
628633          48432.0      Level I
628904          39229.0      Level I
628952         197780.0     Level IV
629057          48216.0      Level I
629156          71004.0     Level II
629246          62247.0     Level II
629316         104400.0     Level II
629385          45000.0      Level I
629476          56250.0     Level II
629662          35360.0      Level I
629753          39229.0      Level I
630076          41600.0      Level I
630138          57084.0     Level II
630209          76960.0     Level II
630615          75924.0     Level II
630911          68124.0     Level II
630923          46725.0      Level I
631003          49920.0      Level I
631030          76960.0     Level II
631116          60320.0     Level II
631161          70192.0     Level II
631181          69822.0     Level II
631345          38334.0      Level I
631667          50242.0      Level I
632211          52000.0      Level I
632430          80813.0     Level II
632471         129856.0    Level III
632745          56618.0     Level II
632747          35702.0      Level I

[37320 rows x 2 columns]

In [307]:
df3=df.loc[df['PW_WAGE_LEVEL'].isnull()]

In [308]:
df3.index

Int64Index([    16,     17,     20,     21,     22,     23,     24,     27,
                28,     29,
            ...
            631116, 631161, 631181, 631345, 631667, 632211, 632430, 632471,
            632745, 632747],
           dtype='int64', length=37318)

In [309]:
df3.shape

(37318, 25)

In [310]:
df4=df.drop(df3.index)

In [311]:
df4.shape

(595762, 25)

In [312]:
df3=df3.drop(['PW_WAGE_LEVEL'], axis=1)
df3.shape

(37318, 24)

In [313]:
df3['PW_WAGE_LEVEL']=Xtest['FILLED_VALUE']

In [314]:
df3.head()

,EMPLOYER_NAME_BIN,EMPLOYER_CITY_BIN,H1B_DEPENDENT,NAICS_CODE_BIN,Visa_duration_bin,AGENT_ATTORNEY_CITY_BIN,PREVAILING_WAGE_BIN,SOC_REVISED_CODE,PW_UNIT_OF_PAY,PW_SOURCE,...,AMENDED_PETITION_BIN,AGENT_REPRESENTING_EMPLOYER,FULL_TIME_POSITION,WORKSITE_STATE_BIN,NEW_EMPLOYMENT_BIN,CHANGE_PREVIOUS_EMPLOYMENT_BIN,WORKSITE_CITY_BIN,Target,JOB_TITLE,PW_WAGE_LEVEL
16,Others,Bin5,N,Others,2-3 yrs,Bin4,Bin4,15,Year,Other,...,0,Y,Y,Bin2,1,0,Bin2,0.0,MEMBER TECHNICAL STAFF CONSULTANT-SYSTEMS ENGI...,Level II
17,Others,Bin1,N,Others,2-3 yrs,Others,Bin3,13,Year,Other,...,0,Y,Y,Bin6,0,0,Bin2,0.0,BUSINESS DEVELOPMENT SPECIALIST,Level I
20,Others,Others,N,Bin1,2-3 yrs,Bin4,Bin4,19,Year,Other,...,0,Y,Y,Bin1,1,0,Others,0.0,RESEARCH ASSOCIATE I,Level II
21,Others,Others,N,Others,2-3 yrs,Bin1,Bin4,13,Year,Other,...,0,Y,Y,Bin4,1,0,Bin3,0.0,FINANCIAL ANALYST,Level II
22,Others,Bin2,N,Bin1,2-3 yrs,Bin1,Bin5,15,Year,Other,...,0,Y,Y,Bin1,1,0,Others,0.0,SR. SOFTWARE ENGINEER,Level III

In [315]:
df4.columns

Index(['EMPLOYER_NAME_BIN', 'EMPLOYER_CITY_BIN', 'H1B_DEPENDENT',
       'NAICS_CODE_BIN', 'Visa_duration_bin', 'AGENT_ATTORNEY_CITY_BIN',
       'PREVAILING_WAGE_BIN', 'SOC_REVISED_CODE', 'PW_UNIT_OF_PAY',
       'PW_SOURCE', 'WAGE_UNIT_OF_PAY', 'EMPLOYER_STATE_BIN', 'WORKSITE_STATE',
       'PW_WAGE_LEVEL', 'WORKSITE_COUNTY_BIN', 'AGENT_ATTORNEY_STATE_BIN',
       'AMENDED_PETITION_BIN', 'AGENT_REPRESENTING_EMPLOYER',
       'FULL_TIME_POSITION', 'WORKSITE_STATE_BIN', 'NEW_EMPLOYMENT_BIN',
       'CHANGE_PREVIOUS_EMPLOYMENT_BIN', 'WORKSITE_CITY_BIN', 'Target',
       'JOB_TITLE'],
      dtype='object')

In [316]:
df3.columns

Index(['EMPLOYER_NAME_BIN', 'EMPLOYER_CITY_BIN', 'H1B_DEPENDENT',
       'NAICS_CODE_BIN', 'Visa_duration_bin', 'AGENT_ATTORNEY_CITY_BIN',
       'PREVAILING_WAGE_BIN', 'SOC_REVISED_CODE', 'PW_UNIT_OF_PAY',
       'PW_SOURCE', 'WAGE_UNIT_OF_PAY', 'EMPLOYER_STATE_BIN', 'WORKSITE_STATE',
       'WORKSITE_COUNTY_BIN', 'AGENT_ATTORNEY_STATE_BIN',
       'AMENDED_PETITION_BIN', 'AGENT_REPRESENTING_EMPLOYER',
       'FULL_TIME_POSITION', 'WORKSITE_STATE_BIN', 'NEW_EMPLOYMENT_BIN',
       'CHANGE_PREVIOUS_EMPLOYMENT_BIN', 'WORKSITE_CITY_BIN', 'Target',
       'JOB_TITLE', 'PW_WAGE_LEVEL'],
      dtype='object')

In [317]:
df3=df3[['EMPLOYER_NAME_BIN', 'EMPLOYER_CITY_BIN', 'H1B_DEPENDENT',
       'NAICS_CODE_BIN', 'Visa_duration_bin', 'AGENT_ATTORNEY_CITY_BIN',
       'PREVAILING_WAGE_BIN', 'SOC_REVISED_CODE', 'PW_UNIT_OF_PAY',
       'PW_SOURCE', 'WAGE_UNIT_OF_PAY', 'EMPLOYER_STATE_BIN', 'WORKSITE_STATE',
       'PW_WAGE_LEVEL', 'WORKSITE_COUNTY_BIN', 'AGENT_ATTORNEY_STATE_BIN',
       'AMENDED_PETITION_BIN', 'AGENT_REPRESENTING_EMPLOYER',
       'FULL_TIME_POSITION', 'WORKSITE_STATE_BIN', 'NEW_EMPLOYMENT_BIN',
       'CHANGE_PREVIOUS_EMPLOYMENT_BIN', 'WORKSITE_CITY_BIN','Target','JOB_TITLE']]

In [318]:
df3.head(21)

,EMPLOYER_NAME_BIN,EMPLOYER_CITY_BIN,H1B_DEPENDENT,NAICS_CODE_BIN,Visa_duration_bin,AGENT_ATTORNEY_CITY_BIN,PREVAILING_WAGE_BIN,SOC_REVISED_CODE,PW_UNIT_OF_PAY,PW_SOURCE,...,AGENT_ATTORNEY_STATE_BIN,AMENDED_PETITION_BIN,AGENT_REPRESENTING_EMPLOYER,FULL_TIME_POSITION,WORKSITE_STATE_BIN,NEW_EMPLOYMENT_BIN,CHANGE_PREVIOUS_EMPLOYMENT_BIN,WORKSITE_CITY_BIN,Target,JOB_TITLE
16,Others,Bin5,N,Others,2-3 yrs,Bin4,Bin4,15,Year,Other,...,Bin1,0,Y,Y,Bin2,1,0,Bin2,0.0,MEMBER TECHNICAL STAFF CONSULTANT-SYSTEMS ENGI...
17,Others,Bin1,N,Others,2-3 yrs,Others,Bin3,13,Year,Other,...,Bin5,0,Y,Y,Bin6,0,0,Bin2,0.0,BUSINESS DEVELOPMENT SPECIALIST
20,Others,Others,N,Bin1,2-3 yrs,Bin4,Bin4,19,Year,Other,...,Bin3,0,Y,Y,Bin1,1,0,Others,0.0,RESEARCH ASSOCIATE I
21,Others,Others,N,Others,2-3 yrs,Bin1,Bin4,13,Year,Other,...,Bin4,0,Y,Y,Bin4,1,0,Bin3,0.0,FINANCIAL ANALYST
22,Others,Bin2,N,Bin1,2-3 yrs,Bin1,Bin5,15,Year,Other,...,Bin1,0,Y,Y,Bin1,1,0,Others,0.0,SR. SOFTWARE ENGINEER
23,Others,Bin6,N,Others,2-3 yrs,Bin4,Bin4,15,Year,Other,...,Bin3,0,Y,Y,Bin1,1,0,Others,0.0,MEMBER OF TECHNICAL STAFF (SOFTWARE ENGINEER)
24,Others,Bin3,N,Bin1,2-3 yrs,Bin2,Bin4,19,Year,Other,...,Bin3,>1,Y,Y,Bin1,>1,>1,Others,0.0,FINANCE MANAGER
27,Bin1,Bin1,N,Bin3,2-3 yrs,Bin1,Bin4,15,Year,Other,...,Bin1,0,Y,Y,Others,1,0,Bin2,0.0,APPLICATION SOFTWARE DEVELOPMENT CONSULTANT
28,Others,Bin1,N,Bin2,2-3 yrs,Bin2,Bin3,13,Year,Other,...,Bin2,0,Y,Y,Bin4,1,0,Bin3,0.0,REGULATORY REPORTING ACCOUNTANT II
29,Bin1,Bin2,N,Bin2,2-3 yrs,Bin1,Bin4,15,Year,Other,...,Bin1,0,Y,Y,Bin1,1,0,Others,0.0,SOFTWARE ENGINEER (1615.33573)
30,Others,Bin1,N,Bin3,2-3 yrs,Bin1,Bin4,15,Year,Other,...,Bin1,0,Y,Y,Bin2,1,0,Bin2,0.0,DATABASE ADMINISTRATION ADVISOR
32,Others,Bin1,N,Bin3,2-3 yrs,Bin1,Bin4,15,Year,Other,...,Bin1,0,Y,Y,Bin2,1,0,Bin2,0.0,SOFTWARE DEVELOPMENT ADVISOR
33,Others,Bin1,N,Bin1,1-2 yrs,None,Bin4,29,Year,Other,...,None,0,N,Y,Others,0,0,Bin3,1.0,INFECTIOUS DISEASE FELLOW
34,Others,Bin4,N,Others,2-3 yrs,Bin4,Bin4,17,Year,Other,...,Bin3,0,Y,Y,Bin1,>1,0,Others,0.0,PROCESS ENGINEER
37,Bin2,Bin4,Y,Bin2,2-3 yrs,Bin4,Bin5,15,Year,Other,...,Bin3,0,Y,Y,Bin1,0,0,Bin3,0.0,SOFTWARE ENGINEER
38,Bin2,Bin4,N,Bin2,2-3 yrs,Bin2,Bin4,15,Year,Other,...,Bin2,0,Y,Y,Others,1,0,Bin2,0.0,VICE PRESIDENT; CONSULTANT - APPS PROG
39,Bin1,Bin2,N,Bin2,2-3 yrs,Bin1,Bin4,15,Year,Other,...,Bin1,0,Y,Y,Bin1,1,0,Bin2,0.0,SOFTWARE ENGINEER (1615.24086)
45,Others,Bin4,N,Others,2-3 yrs,None,Bin4,15,Year,Other,...,None,0,N,Y,Bin1,>1,0,Others,0.0,SOFTWARE ENGINEER
59,Others,Bin6,N,Bin2,2-3 yrs,Bin4,Bin4,15,Year,Other,...,Bin3,0,Y,Y,Bin1,0,0,Others,0.0,"TECH YAHOO, SOFTWARE DEV ENGINEER, INTERM"
60,Others,Bin1,N,Others,2-3 yrs,Bin4,Bin4,25,Year,Other,...,Bin3,0,Y,Y,Bin1,0,0,Bin3,0.0,"SENIOR, SOFTWARE ENGINEERING"
61,Bin2,Bin4,Y,Bin2,2-3 yrs,Bin4,Bin4,15,Year,Other,...,Bin3,0,Y,Y,Bin1,0,0,Bin3,0.0,PRODUCT DESIGNER

In [319]:
df4.head()

,EMPLOYER_NAME_BIN,EMPLOYER_CITY_BIN,H1B_DEPENDENT,NAICS_CODE_BIN,Visa_duration_bin,AGENT_ATTORNEY_CITY_BIN,PREVAILING_WAGE_BIN,SOC_REVISED_CODE,PW_UNIT_OF_PAY,PW_SOURCE,...,AGENT_ATTORNEY_STATE_BIN,AMENDED_PETITION_BIN,AGENT_REPRESENTING_EMPLOYER,FULL_TIME_POSITION,WORKSITE_STATE_BIN,NEW_EMPLOYMENT_BIN,CHANGE_PREVIOUS_EMPLOYMENT_BIN,WORKSITE_CITY_BIN,Target,JOB_TITLE
0,Bin5,Bin7,N,Others,2-3 yrs,None,Bin4,15,Year,OES,...,None,0,N,Y,Bin5,0,0,Others,0.0,SOFTWARE ENGINEER
1,Bin2,Bin5,N,Bin1,2-3 yrs,Bin3,Bin4,13,Year,OES,...,Others,0,Y,Y,Bin1,0,0,Others,0.0,TAX SENIOR
2,Others,Bin5,N,Bin3,2-3 yrs,None,Bin4,15,Year,OES,...,None,0,N,Y,Bin2,0,0,Bin2,0.0,DATABASE ADMINISTRATOR
3,Bin5,Bin7,Y,Bin3,2-3 yrs,Bin4,Bin4,15,Year,OES,...,Others,0,Y,Y,Others,>1,0,Others,0.0,SOFTWARE ENGINEER
4,Others,Bin7,Y,Bin3,2-3 yrs,Bin5,Bin4,15,Year,OES,...,Bin4,1,Y,Y,Others,0,0,Bin4,0.0,MICROSOFT DYNAMICS CRM APPLICATION DEVELOPER

In [357]:
df5=pd.concat([df3, df4])
df5.shape

(633080, 25)

In [358]:
df5['SOC_REVISED_CODE'].value_counts()

15.0    361435
15       57032
13.0     44046
17.0     39801
19.0     25338
29.0     17881
25.0     12899
20.0     12634
27.0      7348
13        6876
17        6038
19        3902
41.0      2733
23.0      2125
11.0      2095
29        2069
25        1957
20        1721
27        1143
21.0      1072
41         404
43.0       403
11         243
23         219
53.0       207
21         149
39.0       117
35.0        88
51.0        79
49.0        71
         ...
31           7
35           6
SO           6
40           5
73           5
49           5
36           4
33           4
71           3
12           3
47           3
38           3
EL           2
73           2
18           2
46           1
AI           1
AC           1
28           1
50           1
71           1
22           1
24           1
79           1
26           1
CO           1
40           1
75           1
74           1
10           1
Name: SOC_REVISED_CODE, Length: 71, dtype: int64

In [359]:
#fill missing values with mode 
df5['SOC_REVISED_CODE']=df5['SOC_REVISED_CODE'].fillna('15')

In [360]:
df5=df5.drop(columns=['JOB_TITLE'])

In [361]:
df5.shape

(633080, 24)

In [362]:
df5['SOC_REVISED_CODE'].value_counts()

15.0    361435
15       77610
13.0     44046
17.0     39801
19.0     25338
29.0     17881
25.0     12899
20.0     12634
27.0      7348
13        6876
17        6038
19        3902
41.0      2733
23.0      2125
11.0      2095
29        2069
25        1957
20        1721
27        1143
21.0      1072
41         404
43.0       403
11         243
23         219
53.0       207
21         149
39.0       117
35.0        88
51.0        79
49.0        71
         ...
31           7
35           6
SO           6
40           5
73           5
49           5
36           4
33           4
71           3
12           3
47           3
38           3
EL           2
73           2
18           2
46           1
AI           1
AC           1
28           1
50           1
71           1
22           1
24           1
79           1
26           1
CO           1
40           1
75           1
74           1
10           1
Name: SOC_REVISED_CODE, Length: 71, dtype: int64

In [363]:
df5['SOC_REVISED_CODE'].unique()

array([15.0, 13.0, 19.0, 29.0, 17.0, 25.0, 20.0, 51.0, 27.0, 23.0, 11.0,
       41.0, 43.0, 21.0, 45.0, 47.0, 35.0, 49.0, 53.0, '15', 39.0, 31.0,
       33.0, 37.0, '29', '19', '13', '17', '20', '27', '11', '25', '41',
       '23', '53', '21', 16, '45', '43', '39', '35', '51', '33', 'SO',
       '47', 40, 73, '31', '50', '73', '75', 38, 18, 12, 46, 'AC', '49',
       'AI', 24, 71, '28', 36, 26, '79', 'EL', '40', 74, 10, 22, '71',
       'CO'], dtype=object)

In [364]:
df5.loc[df5.SOC_REVISED_CODE == 15, 'SOC_REVISED_CODE'] = '15'
df5.loc[df5.SOC_REVISED_CODE == 13, 'SOC_REVISED_CODE'] = '13'
df5.loc[df5.SOC_REVISED_CODE == 19, 'SOC_REVISED_CODE'] = '19'

In [367]:
df5.loc[df5.SOC_REVISED_CODE == 29, 'SOC_REVISED_CODE'] = '29'
df5.loc[df5.SOC_REVISED_CODE == 17, 'SOC_REVISED_CODE'] = '17'
df5.loc[df5.SOC_REVISED_CODE == 25, 'SOC_REVISED_CODE'] = '25'
df5.loc[df5.SOC_REVISED_CODE == 20, 'SOC_REVISED_CODE'] = '20'
df5.loc[df5.SOC_REVISED_CODE == 51, 'SOC_REVISED_CODE'] = '51'
df5.loc[df5.SOC_REVISED_CODE == 27, 'SOC_REVISED_CODE'] = '27'
df5.loc[df5.SOC_REVISED_CODE == 23, 'SOC_REVISED_CODE'] = '23'
df5.loc[df5.SOC_REVISED_CODE == 11, 'SOC_REVISED_CODE'] = '11'
df5.loc[df5.SOC_REVISED_CODE == 41, 'SOC_REVISED_CODE'] = '41'
df5.loc[df5.SOC_REVISED_CODE == 43, 'SOC_REVISED_CODE'] = '43'
df5.loc[df5.SOC_REVISED_CODE == 21, 'SOC_REVISED_CODE'] = '21'
df5.loc[df5.SOC_REVISED_CODE == 45, 'SOC_REVISED_CODE'] = '45'
df5.loc[df5.SOC_REVISED_CODE == 47, 'SOC_REVISED_CODE'] = '47'
df5.loc[df5.SOC_REVISED_CODE == 35, 'SOC_REVISED_CODE'] = '35'
df5.loc[df5.SOC_REVISED_CODE == 49, 'SOC_REVISED_CODE'] = '49'
df5.loc[df5.SOC_REVISED_CODE == 53, 'SOC_REVISED_CODE'] = '53'
df5.loc[df5.SOC_REVISED_CODE == 39, 'SOC_REVISED_CODE'] = '39'
df5.loc[df5.SOC_REVISED_CODE == 31, 'SOC_REVISED_CODE'] = '31'
df5.loc[df5.SOC_REVISED_CODE == 33, 'SOC_REVISED_CODE'] = '33'
df5.loc[df5.SOC_REVISED_CODE == 37, 'SOC_REVISED_CODE'] = '37'

In [368]:
df5['SOC_REVISED_CODE'].unique()

array(['15', '13', '19', '29', '17', '25', '20', '51', '27', '23', '11',
       '41', '43', '21', '45', '47', '35', '49', '53', '39', '31', '33',
       '37', 16, 'SO', 40, 73, '50', '73', '75', 38, 18, 12, 46, 'AC',
       'AI', 24, 71, '28', 36, 26, '79', 'EL', '40', 74, 10, 22, '71',
       'CO'], dtype=object)

In [369]:
df5.to_excel('Preprocessed_Dataset.xlsx')

In [370]:
df5.to_csv('Preprocessed_Dataset.csv')